<div class='item' (click)="select($event)">
  <div class="item" [class.active]="item.selected && !needCheckBox">
    <a href="javascript:void(0)" (click)="toggleOpen($event)">
            <span>
                    <i class="mdi"
                    [class.mdi-plus-box]="haveChildren && !isOpen"
                    [class.mdi-minus-box]="haveChildren && isOpen"></i>
                </span>
            <i class="mdi" *ngIf="needCheckBox" [class.mdi-checkbox-marked]="item.checked === true" [class.mdi-minus-box]="item.checked === false"
                [class.mdi-checkbox-blank-outline]="item.checked === null" (click)="select($event)"></i>
            <span *ngIf="allowParentSelection" (click)="select($event)"> {{item.text}}</span>
            <span *ngIf="!allowParentSelection"> {{item.text}}</span>
        </a>
  </div>
  <ul *ngIf="haveChildren && isOpen" class="ui-select-choices" role="menu">
    <li *ngFor="let o of item.children | itemPipe:filter: true" role="menuitem">
      <tree-select-item [item]="o" [onTouchedCallBack]="onTouchedCallBack"></tree-select-item>
    </li>
  </ul>
</div>
