<div>
  <div class="row my-10">
    <div class="col-sm-8">
      <div class="form-group">
        <label>عنوان ({{title}}) : </label>
        <input class="form-control" [(ngModel)]="obj.Name" name="Name" readonly disabled >
      </div>
    </div>
    <div class="col-md-4 px-15 ">
      <div class="form-group   ">
        <div class="row py-3 form-control">
          <div class="">
            <div class=" ml-15 row">
              <span class="ml-15 ">فعال : </span>
              <input type="radio"  [(ngModel)]="obj.IsActive" [value]="true"  id="StatusTrue" name="Status" class="radio-gray  " readonly disabled  />  <label for="StatusTrue"></label>
            </div>
          </div>
          <div class="">
            <div class=" ml-15 row">
              <span class="ml-15 "> غیر فعال : </span>
              <input type="radio"  [(ngModel)]="obj.IsActive" [value]="false"  id="Statusfalse" name="Status" class="radio-gray"  readonly disabled />  <label for="Statusfalse"></label>
            </div>
          </div>


        </div>
        <label>  <span style="    color: #fc8181;
            padding: 5px 8px 0;" >*</span> وضعیت :</label>
      </div>
      <div *ngIf="obj.IsActive==null" >
        <div class="color-red-light font-12">* لطفا وضعیت را مشخص کنید</div>
      </div>


    </div>
  </div>
  <ng-content></ng-content>
</div>
