<span *ngIf="update" style="z-index: 999999999999999999;
    position: fixed;
    background-color: rebeccapurple;
    left: 25%;" >There's an  t update associated with your progressive web application!</span>

<ss-panel-admin  *ngIf="panel" [panel]="panel">
  <div nav-option=after>
    <div class="row">


      <div class="ss-dropdown pr-5 pb-3">
        <button class="dropbtn">
          <i class="mdi mdi-menu-down" style="font-size: 25px"></i>
        </button>
        <div class="ss-dropdown-content">
          <a href="#Pages/Dashboard">  <i class="mdi mdi-view-dashboard p-5" style="font-size: 25px"></i>داشبورد</a>
          <a href="#Pages/Account"><i class="mdi mdi-account-location  p-5" style="font-size: 22px"></i>پروفایل شما</a>
          <a  href="#Pages/Account"><i class="mdi mdi-lock-outline  p-5" style="font-size: 22px"></i>تغییر رمز عبور</a>
          <a (click)="logout()" href="#"><i class="mdi mdi-logout  p-5" style="font-size: 22px"></i>خروج</a>
        </div>
      </div>
      <div class=" px-3" style="    padding-top: 8px;">
        <button class="dropbtn">
          <i class="mdi mdi-email" style="font-size: 20px"></i>
        </button>

      </div>

    </div>


  </div>
  <div footer>
      <ss-message-notification></ss-message-notification>
  </div>
</ss-panel-admin>

