<div class="row">
  <div class="col-md-1 p-10"></div>
  <div class="col-md-7 p-10">
    <form class="card p-20" #formUser="ngForm">
      <h3>اطلاعات هویت کاربری</h3>
      <hr>
      <div class="row py-5">
        <div class="col-md-4 px-10 form-group">
          <input class="form-control" type="number" ss-input-mask="99999999999" [(ngModel)]="user.id" #id="ngModel" name="id" readonly/>
          <label>شناسه :</label>
        </div>
        <div class="col-md-4 px-10 form-group">
          <input class="form-control" type="text" [(ngModel)]="user.username" #username="ngModel" name="username" readonly/>
          <label>نام کاربری :</label>
        </div>
        <div class="col-md-4 px-10 form-group">
          <input class="form-control" type="text" [(ngModel)]="user.name" #name="ngModel" name="name" required/>
          <label>نام :</label>
        </div>
      </div>
      <div class="row py-5">
        <div class="col-md-4 px-10 form-group">
          <input class="form-control" type="text" [(ngModel)]="user.nationalId" #nationalId="ngModel" name="nationalId" required/>
          <label>کد ملی :</label>
        </div>
        <!--<div class="col-md-4 px-10 form-group">-->
          <!--<input class="form-control" type="text" [(ngModel)]="user.birthday" #birthday="ngModel" name="birthday" required mask="yyyy-MM-dd hh:mm:ss mask-placeholder="____/__/__" (onchange)="user.birthday = $event"/>-->
          <!--<label>تاریخ تولد :</label>-->
        <!--</div>-->
        <div class="col-md-4 px-10 form-group">
          <select class="form-control" [(ngModel)]="user.gender" #gender="ngModel" name="gender" required>
            <option [ngValue]="true">مرد</option>
            <option [ngValue]="false">زن</option>
          </select>
          <label>جنسیت :</label>
        </div>
      </div>

      <div class="py-5">
        <div class="col-md-8 form-group">
          <textarea class="form-control" [(ngModel)]="user.description" #description="ngModel" name="description" required></textarea>
          <label>توضیحات</label>
        </div>
      </div>
      <div class="mt-10">
        <button class="btn-green" [ngClass]="{progress:progressContact}" [disabled]="formUser.invalid || progressContact">ثبت</button>
      </div>
      <!--<div *ngIf="messageContact" class="alert-red mt-10">{{profileMessage}}</div>-->
    </form>
    <form class="card p-20 mt-10" #formContact="ngForm">
      <h3>اطلاعات ارتباط کاربری</h3>
      <hr>
      <div class="row py-5">
        <div class="col-md-4 px-10 form-group">
          <input class="form-control" type="text" [(ngModel)]="user.cellphone" #cellphone="ngModel" name="cellphone" required/>
          <label><i class="mdi mdi-phone"></i> شماره تماس :</label>
        </div>
        <div class="col-md-2 pt-25">
          <button class="btn-blue">ارسال کد تایید</button>
        </div>
        <div class="col-md-4 px-10 form-group">
          <input class="form-control" type="email" [(ngModel)]="user.email" #email="ngModel" name="email" required/>
          <label><i class="mdi mdi-email-outline"></i> ایمیل :</label>
        </div>
        <div class="col-md-2 pt-25">
          <button class="btn-blue">ارسال کد تایید</button>
        </div>
      </div>
      <div class="row py-5">
        <div class="col-md-6 px-10 form-group">
          <input class="form-control" type="text" [(ngModel)]="user.telephone" #telephone="ngModel" name="telephone" required/>
          <label><i class="mdi mdi-phone-classic"></i> شماره تلفن ثابت :</label>
        </div>
        <div class="col-md-6 px-10 form-group">
          <input class="form-control" type="text" [(ngModel)]="user.fax" #fax="ngModel" name="fax" required/>
          <label><i class="mdi mdi-fax"></i> شماره فکس :</label>
        </div>
      </div>
    </form>
    <div class="card p-10 my-10">
      <h3>صندوق پستی</h3>
      <hr>
      <table class="table bordered striped hover">
        <thead>
        <tr>
          <th>شناسه</th>
          <th>عنوان</th>
          <th>زمان ارسال</th>
          <th>فرستنده</th>
          <th>وضعیت</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let message of messages">
          <td>{{message.id}}</td>
          <td>{{message.title}}</td>
          <td>{{message.creationTime}}</td>
          <td>{{message.sender}}</td>
          <td>{{message.status}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card p-10 my-10">
      <h3>10 ورود آخر</h3>
      <hr>
      <table class="table bordered striped hover">
        <thead>
        <tr>
          <th>شناسه</th>
          <th>زمان</th>
          <th>آی پی</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let login of logins">
          <td>{{login.id}}</td>
          <td>{{login.creationTime}}</td>
          <td>{{login.ip}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-3 p-10">
    <form class="card p-20" #formPassword="ngForm">
      <h3>تغییر کلمه عبور</h3>
      <hr>
      <div class="p-5">
        <div class="form-group">
          <input class="form-control" type="text" [(ngModel)]="change.old" #old="ngModel" name="old" required/>
          <label>کلمه عبور فعلی  :</label>
        </div>
      </div>
      <div class="p-5">
        <div class="form-group">
          <input class="form-control" type="text" [(ngModel)]="change.new" #new="ngModel" name="new" required/>
          <label>کلمه عبور جدید :</label>
        </div>
      </div>
      <div class="p-5">
        <div class="form-group">
          <input class="form-control" type="text" [(ngModel)]="change.repeat" #repeat="ngModel" name="repeat" required/>
          <label>تکرار کلمه عبور :</label>
        </div>
      </div>
      <div class="mt-10">
        <button class="btn-green" [ngClass]="{progress:progressPassword}" [disabled]="formPassword.invalid || progressPassword">تغییر کلمه عبور</button>
      </div>
      <div *ngIf="messagePassword" class="alert-red mt-10">{{messagePassword}}</div>
    </form>
    <!--<form class="card p-20 mt-10" #formSocial="ngForm">-->
      <!--<h3>شبکه های اجتماعی</h3>-->
      <!--<hr>-->
      <!--<div class="p-5">-->
        <!--<div class="form-group">-->
          <!--<input class="form-control" type="text" [(ngModel)]="user.telegram" #telegram="ngModel" name="telegram"/>-->
          <!--<label>Telegram <i class="mdi mdi-telegram"></i> :</label>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="p-5">-->
        <!--<div class="form-group">-->
          <!--<input class="form-control" type="text" [(ngModel)]="user.instagram" #instagram="ngModel" name="instagram"/>-->
          <!--<label>Instagram <i class="mdi mdi-instagram"></i> :</label>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="p-5">-->
        <!--<div class="form-group">-->
          <!--<input class="form-control" type="text" [(ngModel)]="user.whatsApp" #whatsApp="ngModel" name="whatsApp"/>-->
          <!--<label>Whats'App <i class="mdi mdi-whatsapp"></i> :</label>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="p-5">-->
        <!--<div class="form-group">-->
          <!--<input class="form-control" type="text" [(ngModel)]="user.twitter" #twitter="ngModel" name="twitter"/>-->
          <!--<label>Twitter <i class="mdi mdi-twitter"></i> :</label>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="p-5">-->
        <!--<div class="form-group">-->
          <!--<input class="form-control" type="text" [(ngModel)]="user.linkedIn" #linkedin="ngModel" name="linkedIn"/>-->
          <!--<label>Linked In <i class="mdi mdi-linkedin"></i> :</label>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="mt-10">-->
        <!--<button class="btn-green" [ngClass]="{progress:progressSocial}" [disabled]="formSocial.invalid || progressSocial">ثبت</button>-->
      <!--</div>-->
      <!--<div *ngIf="messageSocial" class="alert-red mt-10">{{messageSocial}}</div>-->
    <!--</form>-->
  </div>
  <div class="col-md-1 p-10"></div>
</div>
<div class="row">
  <ng-content></ng-content>
</div>
