.oc-border {
	border: 1.5px solid black;
}

.oc-background {

}

.oc-name {
	white-space: nowrap;
  width: 100%;
  text-align: center;
}

.oc-designation {
  min-height: 100px;
	white-space: nowrap;
}
