<div class="row"  >
  <div class="col-md-12 p-10" dir="rtl">
    <div  class="row  card flex px-15 py-10" style="justify-content: space-between;align-items: center;"><h4 >نوع مقطع / تغییر </h4><a  class="btn-violet-outline"  (click)="onShowList.emit()" style="border-radius: 4px">بازگشت</a></div>
    <hr>
    <form class="card py-15" #form="ngForm">
      <div class="row ">
        <div class="col-md-6 px-15 ">
          <div class="form-group my-15">
            <input class="form-control" autofocus type="text" [(ngModel)]="obj.Name" required #Name="ngModel" name="Name"/>
            <label>نام :</label>
          </div>
          <div *ngIf="Name.errors && (Name.dirty || Name.touched || touched)" >
            <div class="color-red-light font-12" [hidden]="!Name.errors.required || !touched">* لطفا نام  را وارد کنید</div>
          </div>


        </div>
        <div class="col-md-6 px-15 ">
          <div class="form-group my-15">

            <select #Color="ngModel" class="form-control" [compareWith]="global.compareWithIdId" [(ngModel)]="obj.Color"  name="Color"  required [ngModelOptions]="{standalone: true}" style="max-width: 400px">

              <option [ngValue]="undefined" disabled >انتخاب کنید...</option>
              <option  *ngFor="let item of colorItems" [ngValue]="item.Id">{{item.Name}}</option>
            </select>
            <label>رنگ :</label>
          </div>
          <div *ngIf="Color.errors && (Color.dirty || Color.touched || touched)" >
            <div class="color-red-light font-12" [hidden]="!Color.errors.required || !touched">* لطفا رنگ را وارد کنید</div>
          </div>


        </div>
        <div class="col-md-6 px-15 ">
          <div class="form-group my-15">
            <input class="form-control" ss-input-mask="hh:mm" type="text" [(ngModel)]="obj.ResponseTime" required #ResponseTime="ngModel" name="ResponseTime"/>
            <label>زمان  :</label>
          </div>
          <div *ngIf="ResponseTime.errors && (ResponseTime.dirty || ResponseTime.touched || touched)" >
            <div class="color-red-light font-12" [hidden]="!ResponseTime.errors.required || !touched">* لطفا زمان  را وارد کنید</div>
          </div>


        </div>










      </div>

      <div class="mt-10 pr-15">
        <button class="btn-green px-50" (click)="Save(form)" [ngClass]="{progress:progressForm}">ثبت</button>
      </div>

    </form>

  </div>
</div>
