<div class="row"  >
  <div class="col-md-12 p-10" dir="rtl">

    <div  class="row  card flex px-15 py-10" style="justify-content: space-between;align-items: center;"><h4 >ظرف / افزودن  </h4><a  *ngIf="configService.checkPermission('ROLE_ContainerList')" class="btn-violet-outline"  (click)="onShowList.emit()" style="border-radius: 4px">نمایش لیست</a></div>
    <hr>
    <form *ngIf="configService.checkPermission('ROLE_ContainerAdd')"  class="card py-15" #form="ngForm">
      <div class="row ">
        <div class="col-md-6 px-15 ">
          <div class="form-group my-15">
            <input class="form-control" autofocus type="text" [(ngModel)]="obj.Code" required #Code="ngModel" name="Code"/>
            <label>کد :</label>
          </div>
          <div *ngIf="Code.errors && (Code.dirty || Code.touched || touched)" >
            <div class="color-red-light font-12" [hidden]="!Code.errors.required || !touched">* لطفا کد را وارد کنید</div>
          </div>


        </div>

        <div class="col-md-6 px-15 ">
          <div class=" my-15">
            <ss-input-dropdown (onchange)="setEndDate();obj.ContainerTypeId=obj.ContainerType.Id" ngClass='form-group' style="padding-top: 0;"   label="نوع ظرف :" #ContainerType="ngModel" [compareWith]="global.compareWithIdId"  name="ContainerType" [(ngModel)]="obj.ContainerType"    value="Name" [items]="containerTypeItems" required="true">
            </ss-input-dropdown>
          </div>
          <div *ngIf="ContainerType.errors && (ContainerType.dirty || ContainerType.touched || touched)" >
            <div class="color-red-light font-12" [hidden]="!ContainerType.errors.required || !touched ">* لطفا نوع  ظرف را وارد کنید</div>
          </div>



        </div>

        <div class="col-md-6 px-15 ">
          <div class="form-group  ">
            <input   name="StartJDate" class="form-control" ss-input-mask="yyyy/MM/dd" #StartJDate [(ngModel)]="obj.StartJDate">
            <label>تاریخ و زمان شروع:</label>
          </div>
          <ss-input-datepicker jalali required [ngModelOptions]="{standalone: true}" [date]="true" [time]="true" [input]="StartJDate" [(ngModel)]="obj.StartJDate" format="yyyy/MM/dd"></ss-input-datepicker>
          <div *ngIf="!obj.StartJDate &&  touched" >
            <div class="color-red-light font-12" >* لطفا تاریخ و زمان شروع را وارد کنید</div>
          </div>
        </div>


        <div class="col-md-6 px-15 ">
          <div class="form-group  ">
            <input   name="EndJDate" class="form-control" ss-input-mask="yyyy/MM/dd" #EndJDate [(ngModel)]="obj.EndJDate">
            <label>تاریخ و زمان پایان:</label>
          </div>
          <ss-input-datepicker jalali required [ngModelOptions]="{standalone: true}" [date]="true" [time]="true" [input]="EndJDate" [(ngModel)]="obj.EndJDate" format="yyyy/MM/dd"></ss-input-datepicker>
          <div *ngIf="!obj.EndJDate &&  touched" >
            <div class="color-red-light font-12" >* لطفا تاریخ و زمان پایان را وارد کنید</div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="mt-10 pr-15">
          <button [ngClass]="{'btn-gray-light': (!sendStatus), 'btn-green': (sendStatus)}"    class=" px-50" (click)="CreateModel()"  >جدید</button>
        </div>
        <div class="mt-10 pr-15">
          <button class="btn-green px-50" (click)="Save(form)" [ngClass]="{'btn-gray-light': (sendStatus), 'btn-green': (!sendStatus),progress:progressForm}"  >ثبت</button>
        </div>
      </div>

    </form>

  </div>
</div>
