<div class="row"  >
    <div class="col-md-12 p-10" dir="rtl">

      <div  class="row  card flex px-15 py-10" style="justify-content: space-between;align-items: center;"><h4 >رسید / ویرایش  </h4><a  *ngIf="configService.checkPermission('ROLE_DayTypeList')" class="btn-violet-outline"  (click)="onShowList.emit()" style="border-radius: 4px">نمایش لیست</a></div>
      <hr>
      <form *ngIf="configService.checkPermission('ROLE_DayTypeAdd')"  class="card py-15" #form="ngForm">


        <div class="row">

          <div class="col-md-6 px-15">
            <div class="form-group my-15">
              <input class="form-control" ss-input-pattern="^[0-9]*$" [(ngModel)]="obj.Num" required  #Num="ngModel" name="Num"/>
              <label>شماره رسید :</label>
            </div>
            <div *ngIf="Num.errors && (Num.dirty || Num.touched || touched)" >
              <div class="color-red-light font-12" [hidden]="!Num.errors.required || !touched">* لطفا شماره رسید را مشخص کنید</div>
            </div>
          </div>

          <div class="col-md-6 px-15">
              <div class="form-group my-15">
                <input class="form-control" ss-input-pattern="^[0-9]*$" [(ngModel)]="obj.UserId"  required  #UserId="ngModel" name="UserId" (keyup)="getUser()" />
                <label>کد کاربر :</label>
              </div>
              <div *ngIf="UserId.errors && (UserId.dirty || UserId.touched || touched)" >
                <div class="color-red-light font-12" [hidden]="!UserId.errors.required || !touched">* لطفا کد کاربر را مشخص کنید</div>
              </div>
            </div>

            <div class="col-md-6 px-15">
                <div class="form-group my-15">
                  <div class="form-control">
                  <!-- <input class="form-control" type="text" [(ngModel)]="obj.User.Firstname" #UserName="ngModel" name="UserName"/> -->
                  <div>{{obj.User.Firstname}} {{obj.User.Lastname}}</div>
                </div>
                <label>نام و نام خانوادگی  :</label>
              </div>
            </div>

        <div class="row col-md-6 px-15 ">
          <div class="row form-group my-15">

              <div class="">
                <div class="mb-15 ">
                  <div class="row">
                    <div class="ml-10 mr-10">وزن :</div>
                    <input class="form-control" type="number" ss-input-mask="99999999999" style="width: 100px;" required [(ngModel)]="obj.Weight"  #Weight="ngModel" id="Weight" name="Weight"/>
                    <div class="mr-15 ">کیلوگرم </div>
                  </div>
              </div>
                <div *ngIf="Weight.errors && (Weight.dirty || Weight.touched || touched)" >
                  <div class="color-red-light font-12" [hidden]="!Weight.errors.required || !touched">* لطفا وزن را مشخص کنید</div>
                </div>
              </div>

            <div class="mr-40">
              <div class="mb-15">
                  <div class="row">
                    <div class="ml-10 mr-10">حجم :</div>
                    <input class="form-control" type="number" ss-input-mask="99999999999" style="width: 100px;" required [(ngModel)]="obj.Volume" #Volume="ngModel" id="Volume" name="Volume"/>
                    <div class="mr-15 ">لیتر </div>
                  </div>
                </div>
                <div *ngIf="Volume.errors && (Volume.dirty || Volume.touched || touched)" >
                  <div class="color-red-light font-12" [hidden]="!Volume.errors.required || !touched">* لطفا حجم را مشخص کنید</div>
                </div>
            </div>
          </div>
      </div>

          <div class="col-md-6 px-15">
              <div class="form-group">
                <input  type="text" name="Time" class="form-control" ss-input-mask="yyyy/MM/dd  hh:mm:ss" #Time [(ngModel)]="obj.JTime">
                <label>تاریخ و زمان شروع:</label>
              </div>
              <ss-input-datepicker jalali required [ngModelOptions]="{standalone: true}" [date]="true" [time]="true" [input]="Time" [(ngModel)]="obj.JTime" format="yyyy/MM/dd  hh:mm:ss"></ss-input-datepicker>
              <div *ngIf="!obj.JTime && touched" >
                <div class="color-red-light font-12" >* لطفا تاریخ و زمان را وارد کنید</div>
              </div>
            </div>

        </div>

        <div class="row  flex mt-30 px-15 py-10" style="justify-content: space-between;align-items: center;">
          <h4 class="pr-10">جزییات پسماند</h4>
          <a class="btn-blue"  style="border-radius: 4px" (click)="AddItems()" >افزودن</a>
        </div>

        <div class="p-15">
          <table class="table bordered">
            <thead>
            <tr>
              <th>ردیف</th>
              <!-- <th>کد ظرف</th> -->
              <th>نوع پسماند</th>
              <th>ایستگاه</th>
              <th>حجم(لیتر)</th>
              <th>وزن(کیلوگرم)</th>
              <th> </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of obj.Items; let index=index">
              <td>{{index+1}}</td>
              <td>
                <!-- <ss-input-dropdown ngClass='form-group' style="padding-top: 0;"   label=" "  [compareWith]="global.compareWithId"  #WasteType="ngModel" name="WasteType" [(ngModel)]="item.WasteType"  value="Name" (onchange)="item.WasteType.Id=item.WasteType.Id" [items]="wasteTypeItems" [required]="false">
                </ss-input-dropdown> -->
              <tree-select   [items]="wasteTypeItems" [textField]="reasontextField" [idField]="'id'"  [childrenField]="'children'"
                             [(ngModel)]="item.WasteType"
                             #WasteType="ngModel"
                             name="WasteType"
                             [multiple]="false"
                             required="true"
                             (onChange)="item.WasteType=$event.value; item.WasteType.Id=item.WasteType.Id"
                             minlength="1" maxlength="1"
                             [allowParentSelection]="AllowParentSelection" [filterPlaceholder]="FilterPlaceholder" [maxVisibleItemCount]="MaxDisplayed"
                             [allowFilter]="ShowFilter" [disabled]="Disabled" expandMode="None">
              </tree-select>
              </td>
              <td>
                <ss-input-dropdown ngClass='form-group' style="padding-top: 0;"   label=" "  [compareWith]="global.compareWithId"  #Station="ngModel" name="Station" [(ngModel)]="item.Station"  value="Name" (onchange)="item.StationId=item.Station.Id" [items]="stationItems" [required]="false">
                </ss-input-dropdown>
              </td>
              <td>
              <input class="form-control" ss-input-pattern="^[0-9]*$" [(ngModel)]="item.Volume"  #Volumee="ngModel" name="Volumee"/>
            </td>
            <td>
            <input class="form-control" ss-input-pattern="^[0-9]*$" [(ngModel)]="item.Weight"  #Weightt="ngModel" name="Weightt"/>
            </td>
              <td>
                <div class="mt-10 pr-15">

                  <button class="btn-white " type="button" (click)="delteItem(index)" title="حذف" >
                    <i class="mdi color-red mdi-delete"></i>
                  </button>
                </div>
              </td>

            </tr>
            </tbody>
          </table>
        </div>

          <div class="row mt-20">
          <div class="mt-10 pr-15">
            <button [ngClass]="{'btn-gray-light': (!sendStatus), 'btn-green': (sendStatus)}"    class=" px-50" (click)="CreateModel()"  >جدید</button>
          </div>
          <div class="mt-10 pr-15">
            <button class="btn-green px-50" (click)="Save(form)" [ngClass]="{'btn-gray-light': (sendStatus), 'btn-green': (!sendStatus),progress:progressForm}"  >ثبت</button>
          </div>
        </div>

      </form>

    </div>
  </div>
