 ng-organization-chart-list {
	padding-top: 20px; position: relative;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
    display: block;
}

/*Time to add downward connectors from parents*/
 ng-organization-chart-list::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 2px solid #0b0017;
	width: 0; height: 20px;
}

.container-cucu{
	border: 2px solid #0b0017;
	padding: 5px 10px;
	text-decoration: none;
	color: #0b0017;
	/*font-family: arial, verdana, tahoma;*/
	font-size: 11px;
	display: inline-block;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
