<div class="row">
  <div class="col-md-4 p-10">
    <div class="card pb-5 mb-20 " style="height: 180px">
      <div class="bg-sky p-10  text-center" >تعداد درخواست های نظافت</div>
      <div class="row py-5 px-5 align-center " style="justify-content:space-around; align-items: center; line-height: 50px;" >
          <div>پاسخ داده نشده</div>
          <div class="color-sky">10</div>
        </div>
        <div class="row py-5 px-5 align-center " style="justify-content:space-around; align-items: center; line-height: 50px;" >
          <div>پاسخ داده شده</div>
          <div class="color-sky">25</div>
        </div>
    </div>

    <div class="card pb-5 mb-20 " style="height: 150px">
      <div class="bg-blue-grey-light p-10  text-center" >محموله در راه</div>
      <div class="row py-20 px-5 align-center " style="justify-content: space-around;align-items: center;line-height: 50px;" >
          <div>بارگیری شده</div>
          <div class="color-blue-grey-light">5</div>
        </div>
    </div>
  </div>

  <div class="col-md-4 p-10">
    <div class="card pb-5 mb-20 " style="height: 350px">
      <div class="bg-pink p-10  text-center" >تعداد درخواست های حمل پسماند</div>
      <div class="row py-5 px-5 align-center " style="justify-content:space-around; align-items: center; line-height: 50px;" >
          <div>متوقف شده</div>
          <div class="color-pink">1</div>
      </div>
      <div class="row py-5 px-5 align-center " style="justify-content:space-around; align-items: center; line-height: 50px;" >
        <div>برنامه ریزی شده</div>
        <div class="color-pink">20</div>
      </div>
      <div class="row py-5 px-5 align-center " style="justify-content:space-around; align-items: center; line-height: 50px;" >
        <div>در حال جریان</div>
        <div class="color-pink">10</div>
    </div>
    <div class="row py-5 px-5 align-center " style="justify-content:space-around; align-items: center; line-height: 50px;" >
      <div>پاسخ داده شده</div>
      <div class="color-pink">25</div>
    </div>
  </div>
</div>

  <div class="col-md-4 p-10">
    <div class="card pb-5 mb-20 " style="height: 350px">
      <div class="bg-teal-light p-10  text-center" >وضعیت</div>
      <div class="row py-5 px-5 align-center " style="justify-content:space-around; align-items: center; line-height: 50px;" >
          <div>فروش هفته جاری</div>
          <div class="color-teal-light">0 ریال</div>
      </div>
      <div class="row py-5 px-5 align-center " style="justify-content:space-around; align-items: center; line-height: 50px;" >
        <div>فروش هفته گذشته</div>
        <div class="color-teal-light">3/740/000 ریال</div>
      </div>
      <div class="row py-5 px-5 align-center " style="justify-content:space-around; align-items: center; line-height: 50px;" >
        <div>فروش ماه گذشته</div>
        <div class="color-teal-light">23/440/000 ریال</div>
      </div>
    </div>
  </div>

  <div class="col-md-4 p-10">
    <div class="card pb-5 mb-20" style="height: 460px">
      <div class="bg-purple-light p-10  text-center" >میزان رضایت مشتریان</div>
      <div class="px-20 py-10">
      <ss-progress-bar class="my-5" [barWidth]="20"  [text]="'کاملا راضی'"></ss-progress-bar>
      <ss-progress-bar class="my-5" [barWidth]="33.35" [color]="'#00ff8c'" [text]="'راضی'"></ss-progress-bar>
      <ss-progress-bar class="my-5" [barWidth]="0" [color]="'blue'" [text]="'نظری ندارم'"></ss-progress-bar>
      <ss-progress-bar class="my-5" [barWidth]="24.32" [color]="'#ffc107'" [text]="'ناراضی'"></ss-progress-bar>
      <ss-progress-bar class="my-5" [barWidth]="20" [color]="'#ff0000b8'" [text]="'کاملا ناراضی'"></ss-progress-bar>
    </div>
  </div>
</div>

      
</div>
