.map {
  position: relative;
  width: 100%;
  border: 2px dashed #ddd;
  min-height: 200px;
  cursor: pointer;

  &::after {
    content: 'برای آپلود کلیک کنید یا تصویر را اینجا رها کنید';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
    text-align: center;
    box-sizing: border-box;
    transition: all 400ms ease;
  }
  &.loaded::after {
    opacity: 0;
  }

  &:hover::after {
    color: #eee;
    opacity: 1;
    background-color: rgba(0, 0, 0, .4)
  }

  img {
    width: 100%;
    display: block;
    position: relative;
  }
  input {
    opacity: 0;
    position: absolute;
  }
  .progress {
    position: absolute;
    z-index: 20;
    top:0;
    left:0;
    width: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 32px;
    overflow: hidden;
    transition: width 300ms ease;
    background-color: rgba(46, 221, 55, 0.445);
  }
}