<div class="p-10">
  <div class="map" [ngClass]="{loaded: loaded}" (click)="mapFile.click()">
    <input type="file" #mapFile (change)="mapChange($event.target.files)" required/>
    <img *ngIf="map" [src]="map" alt="" (load)="loaded = true" (error)="loaded = false">
    <div class="progress" [style.width]="uploadProgress">{{uploadProgress}}</div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6 px-5">
      <button class="btn btn-green" [disabled]="!mapFile || progress"
              [ngClass]="{ progress: progress }" (click)="submit($event)">آپلود</button>
    </div>
  </div>
  <p *ngIf="message" class="color-red">{{message}}</p>
</div>
