<div class="row"  >
  <div class="col-md-12 p-10" dir="rtl">
    <div  class="row  card flex px-15 py-10" style="justify-content: space-between;align-items: center;"><h4 >ایستگاه / تغییر </h4><a  class="btn-violet-outline"  (click)="onShowList.emit()" style="border-radius: 4px">بازگشت</a></div>
    <hr>
    <form class="card py-15" #form="ngForm">
      <div class="row ">
        <div class="col-md-6 px-15 ">
          <div class="form-group my-15">
            <input class="form-control" autofocus type="text" [(ngModel)]="obj.Name" required #Name="ngModel" name="Name"/>
            <label>نام :</label>
          </div>
          <div *ngIf="Name.errors && (Name.dirty || Name.touched || touched)" >
            <div class="color-red-light font-12" [hidden]="!Name.errors.required || !touched">* لطفا نام را وارد کنید</div>
          </div>


        </div>


        <div class="col-md-6 px-15 pt-15  " >
          <tree-select   [items]="useTypeItems" [textField]="reasontextField" [idField]="'id'"  [childrenField]="'children'"
                         [(ngModel)]="useTypeobj"
                         #UseType="ngModel"
                         name="UseType"
                         [label]="'نوع کاربری :'"
                         [multiple]="false"
                         required="true"
                         (onChange)="obj.UseType=$event.value;obj.UseTypeId=obj.UseType.Id"
                         minlength="1" maxlength="1"
                         [allowParentSelection]="AllowParentSelection" [filterPlaceholder]="FilterPlaceholder" [maxVisibleItemCount]="MaxDisplayed"
                         [allowFilter]="ShowFilter" [disabled]="Disabled" expandMode="None"
          >
          </tree-select>

          <div *ngIf="UseType.errors && (UseType.dirty || UseType.touched || touched)" >
            <div class="color-red-light font-12" [hidden]="!UseType.errors.required || !touched ">* لطفا نوع کاربری را وارد کنید</div>
            <!--<div class="color-red-light font-12"  [hidden]="!UseType.errors.minlength">You must choose at least 2 items on Multiple select</div>-->
            <!--<div class="color-red-light font-12"  [hidden]="!UseType.errors.maxlength">You must choose maximum 1000 items on Multiple select</div>-->
          </div>



        </div>

        <!--<div class="col-md-6 px-15 ">-->
        <!--<div class=" my-15">-->
        <!--<ss-input-dropdown  ngClass='form-group' style="padding-top: 0;"   label="نوع کاربری :" #UseType="ngModel" [compareWith]="global.compareWithIdId"  name="StationType" [(ngModel)]="obj.UseType"  value="Name" [items]="useTypeItems" required="true">-->
        <!--</ss-input-dropdown>-->
        <!--</div>-->
        <!--<div *ngIf="UseType.errors && (UseType.dirty || UseType.touched || touched)" >-->
        <!--<div class="color-red-light font-12" [hidden]="!UseType.errors.required || !touched ">* لطفا نوع  کاربری را وارد کنید</div>-->
        <!--</div>-->



        <!--</div>-->

        <div class="col-md-6 px-15 ">
          <div class=" mb-15">
            <ss-input-dropdown  ngClass='form-group' (onchange)="getGradeData(oDataPagination,buildingObj.Id);" label="ساختمان :" #building="ngModel" [compareWith]="global.compareWithIdId"  name="building" [(ngModel)]="buildingObj"  value="Name" [items]="buildingItems" required="true" ></ss-input-dropdown>

          </div>
          <div *ngIf="building.errors && (building.dirty || building.touched || touched)" >
            <div class="color-red-light font-12" [hidden]="!building.errors.required || !touched ">* لطفا ساختمان را وارد کنید</div>
          </div>



        </div>
        <div class="col-md-6 px-15 ">
          <div class=" mb-15">
            <ss-input-dropdown  ngClass='form-group' (onchange)="getPlaceData(oDataPagination,gradeObj.Id)" label="طبقه :" #grade="ngModel" [compareWith]="global.compareWithIdId"  name="grade" [(ngModel)]="gradeObj"  value="Name" [items]="gradeItems" required="true"></ss-input-dropdown>

          </div>
          <div *ngIf="grade.errors && (grade.dirty || grade.touched || touched)" >
            <div class="color-red-light font-12" [hidden]="!grade.errors.required || !touched ">* لطفا طبقه را وارد کنید</div>
          </div>



        </div>
        <div class="col-md-6 px-15 " >
          <div class="form-group my-15">
            <input  *ngIf="obj.PlaceId " readonly class="form-control" (focus)="ShowPlaceChooser=true" type="text" [(ngModel)]="obj.Place.Name"  #Place="ngModel" name="Place"/>
            <input  *ngIf="!obj.PlaceId " [disabled]="!gradeObj.Id" class="form-control"  readonly (focus)="ShowPlaceChooser=true" type="text"  [(ngModel)]="obj.PlaceId" required #PlaceT="ngModel" name="PlaceT"/>
            <label>زون :</label>
          </div>
          <!--<div *ngIf="Place.errors && (Place.dirty || Place.touched || touched)" >-->
          <!--<div class="color-red-light font-12" [hidden]="!Place.errors.required || !touched ">* لطفا زون را انتخاب کنید</div>-->
          <!--</div>-->


          <!--<div class=" mb-15">-->
          <!--<ss-input-dropdown  ngClass='form-group'  label="زون :" #Place="ngModel" [compareWith]="global.compareWithIdId"  name="Place" [(ngModel)]="obj.Place" (onchange)="obj.PlaceId=obj.Place.Id" value="Name" [items]="placeItems" required="true"></ss-input-dropdown>-->

          <!--</div>-->
          <!--<div *ngIf="Place.errors && (Place.dirty || Place.touched || touched)" >-->
          <!--<div class="color-red-light font-12" [hidden]="!Place.errors.required || !touched ">* لطفا زون را وارد کنید</div>-->
          <!--</div>-->



        </div>
        <div class="col-md-6 px-15 ">
          <div class="form-group my-15">
            <input class="form-control"  type="text" [(ngModel)]="obj.Space" required #Space="ngModel" name="Space"/>
            <label>مساحت :</label>
          </div>
          <div *ngIf="Space.errors && (Space.dirty || Space.touched || touched)" >
            <div class="color-red-light font-12" [hidden]="!Space.errors.required || !touched">* لطفا مساحت را وارد کنید</div>
          </div>


        </div>

        <div class="col-md-6 px-15 ">
          <div class="form-group my-30">
            <input class="form-control"  type="text" [(ngModel)]="obj.Tag" required #Tag="ngModel" name="Tag"/>
            <label>پلاک :</label>
          </div>
          <div *ngIf="Tag.errors && (Tag.dirty || Tag.touched || touched)" >
            <div class="color-red-light font-12" [hidden]="!Tag.errors.required || !touched">* لطفا پلاک را وارد کنید</div>
          </div>


        </div>

        <div class="col-md-6 px-15 ">
          <div class="mb-15 ">
            <ss-input-dropdown  [template]="dpUserTemplate" ngClass='form-group'  label="کاربر واسط :" #ConnectiveUser="ngModel" [compareWith]="global.compareWithIdId"  name="grade" [(ngModel)]="obj.ConnectiveUser"  (onchange)="obj.ConnectiveUserId=obj.ConnectiveUser.Id"  value="Fullname" [items]="userItems" required="true"></ss-input-dropdown>

          </div>
          <div *ngIf="ConnectiveUser.errors && (ConnectiveUser.dirty || ConnectiveUser.touched || touched)" >
            <div class="color-red-light font-12" [hidden]="!ConnectiveUser.errors.required || !touched ">* لطفا کاربر واسط را وارد کنید</div>
          </div>



        </div>
        <div class="col-md-6 px-15 ">
          <div class="form-group  my-15 ">
            <div class="row py-3 form-control">
              <div class="">
                <div class=" ml-15 row">
                  <span class="ml-15 ">فعال : </span>
                  <input type="radio" required [(ngModel)]="obj.IsActive" [value]="true"  id="StatusTrue" name="Status" class="radio-gray  "   />  <label for="StatusTrue"></label>
                </div>
              </div>
              <div class="">
                <div class=" ml-15 row">
                  <span class="ml-15 "> غیر فعال : </span>
                  <input type="radio" required [(ngModel)]="obj.IsActive" [value]="false"  id="Statusfalse" name="Status" class="radio-gray"   />  <label for="Statusfalse"></label>
                </div>
              </div>


            </div>
            <label>  <span style="    color: #fc8181;
            padding: 5px 8px 0;" >*</span> وضعیت :</label>
          </div>
          <div *ngIf="obj.IsActive==null &&  touched" >
            <div class="color-red-light font-12">* لطفا وضعیت را مشخص کنید</div>
          </div>


        </div>



      </div>

      <div class="mt-10 pr-15">
        <button class="btn-green px-50" (click)="Save(form)" [ngClass]="{progress:progressForm}">ثبت</button>
      </div>

    </form>


  </div>
</div>
<ng-template #dpUserTemplate let-item >
  {{item.Firstname + ' ' + item.Lastname}}
</ng-template>

<place-map-editor *ngIf="gradeObj.Id && ShowPlaceChooser" [justShow]="true" (oncomplete)="mapEditorComplete($event)" [data]="gradeObj"></place-map-editor>
