:host {
  width: 250px;
  display: block;
  position: relative;
  z-index: 100000000000;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%); }
  :host > div {
    width: 100%;
    display: none;
    padding: 10px;
    margin: 10px 0;
    font-size: 12px;
    z-index: 10000000;
    box-sizing: border-box;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0 #999; }
    :host > div.show {
      display: flex; }
    :host > div .header {
      padding: 5px 0; }
      :host > div .header .close {
        color: #c6c6c6;
        cursor: pointer;
        padding: 0 5px 0 10px; }
        :host > div .header .close:hover {
          color: #ccc; }
      :host > div .header .title {
        flex: 1; }
    :host > div .body {
      border-top: 1px solid #eee;
      padding: 5px 0; }
    :host > div.primary {
      color: #fff;
      background-color: #517aff; }
      :host > div.primary .header {
        border-bottom: 1px solid #3867ff; }
        :host > div.primary .header .close {
          color: #fff; }
    :host > div.success {
      color: #fff;
      background-color: #10a266; }
      :host > div.success .header {
        border-bottom: 1px solid #0e8b57; }
        :host > div.success .header .close {
          color: #c6c6c6; }
    :host > div.warning {
      color: #fff;
      background-color: #ffdf4c; }
      :host > div.warning .header {
        border-bottom: 1px solid #ffda33; }
        :host > div.warning .header .close {
          color: #525252; }
    :host > div.error {
      color: #fff;
      background-color: #ef3f33; }
      :host > div.error .header {
        border-bottom: 1px solid #ed291b; }
        :host > div.error .header .close {
          color: #fff; }

/*# sourceMappingURL=notification.component.css.map */
