:host() {
    width:250px;
    display: block;
    position: relative;
    z-index: 100000000000;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    >div{
        width: 100%;
        display: none;
        padding: 10px;
        margin: 10px 0;
        font-size: 12px;
        z-index: 10000000;
        box-sizing: border-box;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0px 1px 3px 0 #999;
        &.show {
            display: flex;
        }
        .header {
            padding: 5px 0;
            .close {
                color: #c6c6c6;
                cursor: pointer;
                padding: 0 5px 0 10px;
                &:hover {
                    color: #ccc;
                }
            }
            .title {
                flex: 1;
            }
        }
        .body {
            border-top: 1px solid #eee;
            padding: 5px 0;
        }
        .html {

        }
        $types: (
            ('primary',#517aff,#fff),
            ('success',#10a266,#c6c6c6),
            ('warning',#ffdf4c,#525252),
            ('error',#ef3f33,#fff),
        );
        @each $type in $types {
            $name: nth($type,1);
            $bgcolor: nth($type,2);
            $close: nth($type,3);
            &.#{$name} {
                color: #fff;
                background-color: $bgcolor; 
                .header {
                    border-bottom: 1px solid darken($bgcolor,5%);
                    .close {color: $close;}
                }
            }
        }
    }
}