<div class="row">
  <div class="col-md-12 p-10" dir="rtl">
    <div class="row  card flex px-15 py-15" style="justify-content: space-between;align-items: center;">
      <h4>ساختمان-طبقه-زون </h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 p-10">
    <div class="departments card p-10">
      <div class="p-10">
        <button class="btn btn-gray w-100" [disabled]="createDisable()" (click)="create()">افزودن </button>
      </div>
      <ss-data-treeview [items]="places" (onselect)="selectedChange($event)"></ss-data-treeview>
    </div>
  </div>
  <div class="col-md-8 p-10">
    <div>
      <div class="card p-10" [ngSwitch]="mode">
        <place-details *ngSwitchCase="1" [id]="id" [data]="obj">
          <hr>
          <div class="row">
            <div class="col-sm-4 p-5">
              <button class="btn btn-green w-100" (click)="mapEditor()" [disabled]="!id || !obj?.HasImage">زون بندی نقشه</button>
            </div>
            <div class="col-sm-4 p-5">
              <button class="btn btn-blue w-100" (click)="edit()" [disabled]="!id">ویرایش</button>
            </div>
            <div class="col-sm-4 p-5">
              <button class="btn btn-red w-100" (click)="delete()" [disabled]="!id">حذف</button>
            </div>
          </div>
        </place-details>
        <place-edit *ngSwitchCase="2" (oncomplete)="editComplete($event)" [id]="id" [data]="obj"></place-edit>
        <place-create *ngSwitchCase="3" (oncomplete)="createComplete($event)" [data]="obj"></place-create>
        <place-map-editor *ngSwitchCase="4" (oncomplete)="mapEditorComplete($event)" [data]="obj"></place-map-editor>
      </div>
      <div *ngIf="id" class="card mt-10 p-10">
        <place-map (oncomplete)="mapComplete($event)" [id]="id" [data]="obj"></place-map>
      </div>
    </div>
  </div>
</div>
