<div class="row"  >
  <div class="col-md-12 p-10" dir="rtl">

    <div  class="row  card flex px-15 py-10" style="justify-content: space-between;align-items: center;"><h4 >تقویم </h4></div>
    <hr>
    <form  class="card py-15" #form="ngForm" style="    min-height: 300px;">
      <div class="row " style="min-height: 300px;">
        <div class="col-md-6 px-15 ">

          <div class="form-group  ">
            <!--<input   name="EndJDate" class="form-control" ss-input-mask="yyyy-MM-dd" #Date [(ngModel)]="obj.JDate">-->
            <label>تاریخ:</label>
          </div>
          <ss-input-datepicker   (onchangeSend)="setDayType(obj.JDate)"  jalali required [ngModelOptions]="{standalone: true}" [calendar]="true" [show]="true" [date]="true" [time]="false"  [daysType]="items" [(ngModel)]="obj.JDate" format="yyyy-MM-dd"></ss-input-datepicker>
          <div *ngIf="!obj.Date &&  touched" >
            <div class="color-red-light font-12" >* لطفا تاریخ  را انتخاب کنید</div>
          </div>
        </div>
      </div>
      <!--<div class="row p-15 form-group">-->
        <!--<select class="form-control" [(ngModel)]="obj.DayTypeId" name="status" required>-->
        <!--<option [value]="undefined">انتخاب کنید ...</option>-->
        <!--<option *ngFor="let item of dayTypeItems" [value]="item.Id">{{item.Name}}</option>-->
        <!--</select>-->
      <!--</div>-->

      <div class="row p-15 form-group">
        <div *ngFor="let item of dayTypeItems"  class=" ml-15 row">
          <label class="ml-15 ">{{item.Name}} : </label>
          <input type="radio"  [(ngModel)]="obj.DayTypeId" [value]="item.Id"  id="Status{{item.Name}}" name="Status{{item.Name}}" class="checkbox-{{item.Color}}  "    />  <label for="Status{{item.Name}}"></label>
        </div>

      </div>

      <div class="row">
        <div class="mt-10 pr-15">
          <button class="btn-green px-50" (click)="save(form)"  >ثبت</button>
        </div>
      </div>

    </form>

  </div>
</div>
