<form #form="ngForm" autocomplete="off" (submit)="submit($event)">
  <div class="row my-10">
    <div class="col-sm-8">
      <div class="form-group">
        <label>نام : </label>
        <input class="form-control" [(ngModel)]="obj.Name" name="Name"  >
      </div>
    </div>
    <!--<div class="col-sm-4">-->
      <!--<div class="form-group">-->
        <!--<label style="width: 50px;">وضعیت : </label>-->
        <!--<select class="form-control" [(ngModel)]="obj.status" name="status" required>-->
          <!--<option [value]="undefined">انتخاب کنید ...</option>-->
          <!--<option [value]="0">غیر فعال</option>-->
          <!--<option [value]="1">فعال</option>-->
        <!--</select>-->
      <!--</div>-->
    <!--</div>-->
  </div>

  <hr>
  <div class="row">
    <div class="col-sm-6 px-5">
      <button class="w-100 btn btn-green" [disabled]="form.invalid || progress" [ngClass]="{ progress: progress }">ذخیره</button>
    </div>
    <div class="col-sm-6 px-5">
      <a class="w-100 btn btn-red" (click)="cancel()">انصراف</a>
    </div>
  </div>
  <p *ngIf="message" class="color-red">{{message}}</p>
</form>
