.zone-divider{
  background-image: url("../../../../assets/images/place.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 400px;
  width: 600px;
  margin: auto;



}
td{
  border: 3px solid black;
  margin: auto;
  text-align: center !important;
  cursor: pointer !important;
  font-size: 25px;

}
