





<div class="row"  >
  <div class="col-md-12 p-10" dir="rtl">
    <div  class="row  card flex px-15 py-10" style="justify-content: space-between;align-items: center;"><h4 >بازرسی / مکان </h4><a  class="btn-violet-outline"  [routerLink]="['/Pages/Inspection']" style="border-radius: 4px">نمایش لیست</a></div>
    <hr>
    <form class="card pb-15" #form="ngForm">

      <div class="row ">
        <div class="col-md-6 px-15 ">
          <div class=" mb-15">
            <ss-input-dropdown  ngClass='form-group' (onchange)="getGradeData(oDataPagination,buildingObj.Id);" label="ساختمان :" #building="ngModel" [compareWith]="global.compareWithIdId"  name="building" [(ngModel)]="buildingObj"  value="Name" [items]="buildingItems" required="true" ></ss-input-dropdown>

          </div>
          <div *ngIf="building.errors && (building.dirty || building.touched || touched)" >
            <div class="color-red-light font-12" [hidden]="!building.errors.required || !touched ">* لطفا ساختمان را وارد کنید</div>
          </div>



        </div>
        <div class="col-md-6 px-15 ">
          <div class=" mb-15">
            <ss-input-dropdown  ngClass='form-group' (onchange)="getPlaceData(oDataPagination,gradeObj.Id)" label="طبقه :" #grade="ngModel" [compareWith]="global.compareWithIdId"  name="grade" [(ngModel)]="gradeObj"  value="Name" [items]="gradeItems" required="true"></ss-input-dropdown>

          </div>
          <div *ngIf="grade.errors && (grade.dirty || grade.touched || touched)" >
            <div class="color-red-light font-12" [hidden]="!grade.errors.required || !touched ">* لطفا طبقه را وارد کنید</div>
          </div>



        </div>
      </div>

      <div class="row p-5" *ngIf="gradeObj.Id">

        <place-map-editor [justShow]="true" (oncomplete)="mapEditorComplete($event)" [data]="gradeObj"></place-map-editor>
        <!--<table class="zone-divider table ">-->
<!--<tbody>-->
<!--<tr>-->
  <!--<td (click)="Save(form,39)">4</td>-->
  <!--<td (click)="Save(form,38)">3</td>-->
  <!--<td (click)="Save(form,37)">2</td>-->
  <!--<td (click)="Save(form,36)">1</td>-->
<!--</tr>-->
<!--<tr>-->
  <!--<td (click)="Save(form,43)">8</td>-->
  <!--<td (click)="Save(form,42)">7</td>-->
  <!--<td (click)="Save(form,41)">6</td>-->
  <!--<td (click)="Save(form,40)">5</td>-->
<!--</tr>-->
<!--<tr>-->
  <!--<td (click)="Save(form,47)">12</td>-->
  <!--<td (click)="Save(form,46)">11</td>-->
  <!--<td (click)="Save(form,45)">10</td>-->
  <!--<td (click)="Save(form,44)">8</td>-->
<!--</tr>-->
<!--<tr>-->
  <!--<td (click)="Save(form,51)">16</td>-->
  <!--<td (click)="Save(form,50)">15</td>-->
  <!--<td (click)="Save(form,49)">14</td>-->
  <!--<td (click)="Save(form,48)">13</td>-->
<!--</tr>-->
<!--</tbody>-->
        <!--</table>-->
        <!--<img style="    margin: 0 auto;-->
    <!--max-width: 100%;" src="assets/images/place.png" (click)="Save(form)">-->
      </div>

      <!--<div class="row">-->
        <!--<div class="mt-10 pr-15">-->
          <!--<button class="btn-green px-50"  type="button" (click)="Save(form)"  >ادامه</button>-->
        <!--</div>-->
      <!--</div>-->
    </form>

  </div>
</div>
