
:host() {
    position: absolute;
    min-width: 200px;
    color: #fff;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    box-shadow: 0px 5px 10px #000000;
    background-color: rgba(63,63,63,.7);
}
.ss-header {
    padding: 5px;
    cursor: pointer;
    text-align: center;
    user-select: none;
    border-radius: 5px;
    background-color: #297286;
}
.ss-items {
    flex: 1;
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
}