
<ss-org-chart [topNode]="topNode"></ss-org-chart>

<!--<div style="margin-top: 100px">-->
  <!--<ng-organization-chart [data]="data" (onClickNode)="clickNode($event)" (onDragNode)="dragNode($event)"></ng-organization-chart>-->
<!--</div>-->

<!--<div class="row">-->
  <!--<div class="col-md-3 p-10">-->
    <!--<div class="card pb-5 mb-20 " style="height: 290px">-->
      <!--<div class="bg-green-light p-10  text-center" >پسماند های رسیده به سقف دفع پسماند</div>-->
      <!--<div class="row py-20 px-5 " >-->
        <!--<div class=" align-center" style="line-height: 50px;border-left: 1px solid #949494;width: 49%">-->
          <!--<div>مقداری</div>-->
          <!--<div class="color-green-light">0 کیلوگرم</div>-->
        <!--</div>-->
        <!--<div class=" align-center" style="line-height: 50px;width: 49%">-->
          <!--<div>زمانی</div>-->
          <!--<div class="color-green-light">11 کیلوگرم</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row py-20 px-5 flex-center   " >-->
        <!--<a  class="btn-green-outline py-15 px-30"   style="border-radius: 30px">نمایش جزییات</a>-->
      <!--</div>-->

    <!--</div>-->
    <!--<div class="card pb-5" style="height: 290px">-->
      <!--<div class="bg-teal-light p-10  text-center" >محموله پسماند های خارج شده به مقصد نرسیده</div>-->
      <!--<div class="row py-20 px-5 align-center " style="justify-content: space-around;align-items: center;line-height: 50px;">-->
          <!--<div>محموله های در راه</div>-->
          <!--<div class="color-teal-light">0 عدد</div>-->
      <!--</div>-->
      <!--<div class="row py-30 px-5 flex-center   " >-->
        <!--<a  class="btn-teal-outline py-15 px-30"   style="border-radius: 30px">نمایش جزییات</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="col-md-3 p-10">-->
    <!--<div class="card pb-5 " style="height: 600px">-->
      <!--<div class="bg-sky p-10  text-center" >عملیات فروش</div>-->
      <!--<div class="row py-20 px-5 align-center " style="justify-content: space-around;align-items: center;line-height: 50px;">-->
        <!--<div>پسماند های آماده فروش</div>-->
        <!--<div class="color-sky">3 عدد</div>-->
      <!--</div>-->
      <!--<div class="row py-20 px-5 align-center " style="justify-content: space-around;align-items: center;line-height: 50px;">-->
        <!--<div class="color-gray" style="    width: 45%;">درآمد حاصل از فروش پسماند در 20 روز گذشته</div>-->
        <!--<div class="color-gray"> 2,465,000 تومان</div>-->
      <!--</div>-->
      <!--<br>-->

      <!--<hr>-->
      <!--<div class="row py-20 px-5 " >-->
        <!--<div class=" align-center" style="line-height: 50px;border-left: 1px solid #949494;width: 49%">-->
          <!--<div class="color-black">هزینه جمع آوری</div>-->
          <!--<div class="color-gray">48,000 تومان</div>-->
        <!--</div>-->
        <!--<div class=" align-center" style="line-height: 50px;width: 49%">-->
          <!--<div class="color-black">هزینه انتقال </div>-->
          <!--<div class="color-gray">11,567,000 تومان</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row py-20 px-5 flex-center   " >-->
        <!--<a  class="btn-sky-outline py-15 px-30"   style="border-radius: 30px">نمایش جزییات</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="col-md-3 p-10">-->
    <!--<div class="card pb-5 mb-20" style="height: 290px">-->
      <!--<div class="bg-deep-purple-light p-10  text-center" >پسماند خطرناک</div>-->
      <!--<div class="row py-20 px-5 " >-->
        <!--<div class=" align-center" style="line-height: 50px;border-left: 1px solid #949494;width: 49%">-->
          <!--<div>میزان تولید</div>-->
          <!--<div class="color-deep-purple-light">56 کیلوگرم</div>-->
        <!--</div>-->
        <!--<div class=" align-center" style="line-height: 50px;width: 49%">-->
          <!--<div>درصد</div>-->
          <!--<div class="color-deep-purple-light">4</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row py-20 px-5 flex-center   " >-->
        <!--<a  class="btn-deep-purple-outline py-15 px-30"   style="border-radius: 30px">نمایش جزییات</a>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="card pb-5" style="height: 290px">-->
      <!--<div class="bg-purple-light p-10  text-center" >پسماند غیر خطرناک</div>-->
      <!--<div class="row py-20 px-5 " >-->
        <!--<div class=" align-center" style="line-height: 50px;border-left: 1px solid #949494;width: 49%">-->
          <!--<div>میزان تولید</div>-->
          <!--<div class="color-purple-light">55 عدد</div>-->
        <!--</div>-->
        <!--<div class=" align-center" style="line-height: 50px;width: 49%">-->
          <!--<div>درصد</div>-->
          <!--<div class="color-purple-light">0</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="col-md-3 p-10">-->
    <!--<div class="card pb-5 " style="height: 600px">-->
      <!--<div class="bg-pink p-10  text-center" >دفع پسماند</div>-->

      <!--<div class="row py-20 px-5 align-center " style="justify-content: space-around;align-items: center;line-height: 50px;">-->
        <!--<div>فروش رفته</div>-->
        <!--<div class="color-pink-dark">41 درصد</div>-->
      <!--</div>-->
      <!--<div class="row py-20 px-5 align-center " style="justify-content: space-around;align-items: center;line-height: 50px;">-->
        <!--<div>سوزانده شده</div>-->
        <!--<div class="color-pink-dark">4 درصد</div>-->
      <!--</div>-->
      <!--<br>-->
      <!--<br>-->
      <!--<hr>-->

      <!--<div class="row py-20 px-5 align-center " style="justify-content: space-around;align-items: center;line-height: 50px;">-->
        <!--<div>انتقال داده شده</div>-->
        <!--<div class="color-pink-dark">4 درصد</div>-->
      <!--</div>-->
      <!--<div class="row py-20 px-5 align-center " style="justify-content: space-around;align-items: center;line-height: 50px;">-->
        <!--<div>دفن شده</div>-->
        <!--<div class="color-pink-dark">51 درصد</div>-->
      <!--</div>-->

      <!--<div class="row py-20 px-5 flex-center   " >-->
        <!--<a  class="btn-pink-outline py-15 px-30"   style="border-radius: 30px">نمایش جزییات</a>-->
      <!--</div>-->

    <!--</div>-->
  <!--</div>-->
<!--</div>-->



<div class="row p-5">
  <div class=" p-5 col-md-5">
    <div class="card px-20 py-10">
      <ss-progress-bar class="my-5" [barWidth]="21.62"  [text]="'شناسایی'"></ss-progress-bar>
      <ss-progress-bar class="my-5" [barWidth]="35.14" [color]="'#00ff8c'" [text]="'نگهداری'"></ss-progress-bar>
      <ss-progress-bar class="my-5" [barWidth]="0" [color]="'blue'" [text]="'بازیافت'"></ss-progress-bar>
      <ss-progress-bar class="my-5" [barWidth]="24.32" [color]="'#ffc107'" [text]="'انتقال به موقع'"></ss-progress-bar>
      <ss-progress-bar class="my-5" [barWidth]="18.92" [color]="'#ff0000b8'" [text]="'کمینه سازی'"></ss-progress-bar>
    </div>


  </div>
<div class=" p-5 col-md-7">
  <div class="card p-20">
  <dashboard-chart  *ngIf="showChart"  [responsive]="true" [type]="typeChart" [data]="dataChart" [option]="optionChart"></dashboard-chart>
  </div>
</div>



</div>

