body {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0; }
  body > app-root > main {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 1;
    z-index: 1000000;
    justify-content: center;
    align-items: center;
    background: #090707;
    transition: opacity 500ms ease; }
    body > app-root > main .dank-ass-loader {
      display: flex;
      flex-direction: column;
      align-items: center; }
      body > app-root > main .dank-ass-loader .row {
        width: auto;
        display: flex; }
    body > app-root > main .arrow {
      width: 0;
      height: 0;
      margin: 0 -6px;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 21.6px solid #37d898;
      animation: blink 1s infinite;
      filter: drop-shadow(0 0 18px #37d898); }
      body > app-root > main .arrow.down {
        transform: rotate(180deg); }
      body > app-root > main .arrow.outer-1 {
        animation-delay: -0.0555555556s; }
      body > app-root > main .arrow.outer-2 {
        animation-delay: -0.1111111111s; }
      body > app-root > main .arrow.outer-3 {
        animation-delay: -0.1666666667s; }
      body > app-root > main .arrow.outer-4 {
        animation-delay: -0.2222222222s; }
      body > app-root > main .arrow.outer-5 {
        animation-delay: -0.2777777778s; }
      body > app-root > main .arrow.outer-6 {
        animation-delay: -0.3333333333s; }
      body > app-root > main .arrow.outer-7 {
        animation-delay: -0.3888888889s; }
      body > app-root > main .arrow.outer-8 {
        animation-delay: -0.4444444444s; }
      body > app-root > main .arrow.outer-9 {
        animation-delay: -0.5s; }
      body > app-root > main .arrow.outer-10 {
        animation-delay: -0.5555555556s; }
      body > app-root > main .arrow.outer-11 {
        animation-delay: -0.6111111111s; }
      body > app-root > main .arrow.outer-12 {
        animation-delay: -0.6666666667s; }
      body > app-root > main .arrow.outer-13 {
        animation-delay: -0.7222222222s; }
      body > app-root > main .arrow.outer-14 {
        animation-delay: -0.7777777778s; }
      body > app-root > main .arrow.outer-15 {
        animation-delay: -0.8333333333s; }
      body > app-root > main .arrow.outer-16 {
        animation-delay: -0.8888888889s; }
      body > app-root > main .arrow.outer-17 {
        animation-delay: -0.9444444444s; }
      body > app-root > main .arrow.outer-18 {
        animation-delay: -1s; }
      body > app-root > main .arrow.inner-1 {
        animation-delay: -0.1666666667s; }
      body > app-root > main .arrow.inner-2 {
        animation-delay: -0.3333333333s; }
      body > app-root > main .arrow.inner-3 {
        animation-delay: -0.5s; }
      body > app-root > main .arrow.inner-4 {
        animation-delay: -0.6666666667s; }
      body > app-root > main .arrow.inner-5 {
        animation-delay: -0.8333333333s; }
      body > app-root > main .arrow.inner-6 {
        animation-delay: -1s; }
@keyframes blink {
  0% {
    opacity: 0.1; }
  30% {
    opacity: 1; }
  100% {
    opacity: 0.1; } }

/*# sourceMappingURL=preloader.css.map */
@keyframes onAndOff {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loader {

width: 100%;
height: 100vh;
//background-color: rgba(33, 150, 243, 0.47);
position: fixed;
text-align: center;
display: flex;
justify-content: center;
top: 0;
color: white;
font-size: 17px;
font-weight: bold;
left: 0;
z-index: 99999999999;


}
.loader .loading{
  border: 1px solid #288ED9 ;
  padding: 5px;
  background-color: #288ED9 ;
}
.loader .load {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
//background-color: white;

  margin: auto auto;
}
.loader .logo{
  animation: onAndOff 1s infinite;
}
