


<div class="row" *ngIf="listModal" >
  <div class="col-md-12 p-10" >
    <div  class="row flex px-15 py-10 card" style="justify-content: space-between;align-items: center;"><h4 > بازرسی / نمایش لیست  </h4><a  class="btn-violet-outline"  [routerLink]="['/Pages/Inspection/Place']">بازگشت</a></div>
    <hr>
    <div class="card p-15" >
      <ss-data-table [datatable]="datatable" >
        <ng-template #datepickerTemplate let-column>
          <input class="form-control" ss-input-mask="yyyy-MM-dd" #datepicker [(ngModel)]="column.search.value">
          <ss-input-datepicker jalali [input]="datepicker" [(ngModel)]="column.search.value" format="yyyy-MM-dd"></ss-input-datepicker>
        </ng-template>
        <ng-template #columnTrueFalseType let-row let-value="value">
          <div [innerHtml]="value"></div>
        </ng-template>
      </ss-data-table>
    </div>
  </div>
</div>

<ss-overlay-modal-confirm [modal]="deleteModal" (onconfirm)="deleteComplete($event)" modal-title="حذف">
  <p>     آیا مطمین به حذف هستید؟   </p>  </ss-overlay-modal-confirm>
