<div class="image"></div>
<p class="align-center">
    <a class="color-blue" [routerLink]="['/']">Click to go to the first page</a>
    <br/>
    <br/>
    <a class="color-gray" (click)="back()">Back</a>
</p>
