:host {
	margin: 0 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.oc-box {
	display: flex;
	flex-direction: column;
	align-items: center;
  width: 150px;
  border-radius: 7px ;
}

.oc-h-bar {
	height: 0.5em;
}
.oc-name{
  white-space: nowrap;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid;
  border-radius: 7px 7px 0 0;
  >div{
    padding: 5px;
  }
}
