<div class="oc-h-bar oc-border" *ngIf="hasManager"></div>
<div class="oc-box oc-border ">
  <div class="oc-name"  [ngStyle]="{'background-color' : node.color ? node.color :' '}"><div>{{node?.name}}</div></div>
  <div class="  oc-designation">{{node?.designation}}</div>
</div>

<div class="oc-h-bar oc-border" *ngIf="node?.childrens.length"></div>
