ul {
  position: relative;
  padding-right: 24px;
  margin: 10px 20px;
  list-style: none;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 8px;
    height: 100%;
    border-right: 1px dashed #ddd;
  }

  ul {
    margin: 0;
  }

  li:not(.open)>treeview>ul {
    display: none;
  }
}

li {
  position: relative;
  white-space: nowrap;

  &:before {
    content: '';
    position: absolute;
    top: 12px;
    right: -15px;
    width: 15px;
    height: 0;
    border-bottom: 1px dashed #ddd;
  }

  .toggle {
    position: absolute;
    top: 6px;
    right: -23px;
    font-size: 15px;
    color: #949494;

    &:before {
      content: '+';
      position: absolute;
      top: 0;
      right: 0;
      width: 12px;
      height: 12px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      background-color: #fff;
      border: 1px solid #ddd;
    }
  }

  .text {
    display: flex;
    font-size: 14px;
    padding: 3px 5px;
    align-items: center;

    i {
      font-size: 18px;
      line-height: 0;
    }

    span {
      padding: 0 5px;
      font-size: 13px;
    }

    &:hover {
      background-color: rgba(150, 150, 150, 0.1);
    }

    &.active {
      background-color: rgba(0, 0, 0, 0.1) !important;
    }
  }

  &.open {
    >.toggle:before {
      content: '-';
    }
  }

  &.file {
    .toggle {
      display: none;
    }
  }
}
