:host /deep/ {
  .treeview-header {
    .row-filter {
      margin-bottom: .5rem;
    }
    .row-all {
      .fa {
        cursor: pointer;
      }
    }
  }
  .treeview-container {
    //background-color: #e4e4e4b3;
    .row-item {
      margin-bottom: .3rem;
      flex-wrap: nowrap;
      .fa {
        width: .8rem;
        cursor: pointer;
        margin-right: .3rem;
      }
    }
  }
}

.treeview-container {
  overflow-y: auto;
  padding-right: .3rem;
}

.treeview-text {
  padding: .3rem 0;
  white-space: nowrap;
}
