<div class="row"  >
  <div class="col-md-12 p-10" dir="rtl">

    <div  class="row  card flex px-15 py-10" style="justify-content: space-between;align-items: center;"><h4 >ساختمان / افزودن  </h4><a  *ngIf="configService.checkPermission('ROLE_PlacesList')" class="btn-violet-outline"  (click)="onShowList.emit()" style="border-radius: 4px">نمایش لیست</a></div>
    <hr>
    <form *ngIf="configService.checkPermission('ROLE_PlacesAdd')"  class="card py-15" #form="ngForm">
      <div class="row ">
        <div class="col-md-6 px-15 ">
          <div class="form-group my-15">
            <input class="form-control" autofocus type="text" [(ngModel)]="obj.Name" required #name="ngModel" name="name"/>
            <label>نام :</label>
          </div>
          <div *ngIf="name.errors && (name.dirty || name.touched || touched)" >
            <div class="color-red-light font-12" [hidden]="!name.errors.required || !touched">* لطفا نام را وارد کنید</div>
          </div>


        </div>

        <div class="col-md-6 px-15 ">
          <div class="form-group  my-15 ">
            <div class="row py-3 form-control">
              <div class="">
                <div class=" ml-15 row">
                  <span class="ml-15 ">فعال : </span>
                  <input type="radio" required [(ngModel)]="obj.IsActive" [value]="true"  id="StatusTrue" name="Status" class="radio-gray  "   />  <label for="StatusTrue"></label>
                </div>
              </div>
              <div class="">
                <div class=" ml-15 row">
                  <span class="ml-15 "> غیر فعال : </span>
                  <input type="radio" required [(ngModel)]="obj.IsActive" [value]="false"  id="Statusfalse" name="Status" class="radio-gray"   />  <label for="Statusfalse"></label>
                </div>
              </div>


            </div>
            <label>  <span style="    color: #fc8181;
            padding: 5px 8px 0;" >*</span> وضعیت :</label>
          </div>
          <div *ngIf="obj.isActive==null &&  touched" >
            <div class="color-red-light font-12">* لطفا وضعیت را مشخص کنید</div>
          </div>


        </div>

      </div>

      <div class="row">
        <div class="mt-10 pr-15">
          <button [ngClass]="{'btn-gray-light': (!sendStatus), 'btn-green': (sendStatus)}"    class=" px-50" (click)="CreateModel()"  >جدید</button>
        </div>
        <div class="mt-10 pr-15">
          <button class="btn-green px-50" (click)="Save(form)" [ngClass]="{'btn-gray-light': (sendStatus), 'btn-green': (!sendStatus),progress:progressForm}"  >ثبت</button>
        </div>
      </div>

    </form>

  </div>
</div>
