:host() {
    display: block;
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    padding: 6px;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    box-shadow: 0 0 0px 1px #0d0d0d;
    &.disabled {
        background-color: #555;
    }
    &:not(.disabled){
        cursor: pointer;
        &:hover {
            background-color: #e94362;
        }
    }
    &.connected {
        background-color: #89c823;
    }
}