<form #form="ngForm" autocomplete="off" (submit)="submit($event)">
  <div class="row my-10">
    <div class="col-sm-8">
      <div class="form-group">
        <label>عنوان ({{title}}) : </label>
        <input class="form-control" [(ngModel)]="obj.Name" name="Name" [disabled]="createDisable()"
          [readonly]="createDisable()">
      </div>
    </div>
    <div class="col-md-4 px-15 ">
      <div class="form-group   ">
        <div class="row py-3 form-control">
          <div class="">
            <div class=" ml-15 row">
              <span class="ml-15 ">فعال : </span>
              <input type="radio" required [(ngModel)]="obj.IsActive" [value]="true" id="StatusTrue" name="Status"
                class="radio-gray  " [disabled]="createDisable()" [readonly]="createDisable()" /> <label
                for="StatusTrue"></label>
            </div>
          </div>
          <div class="">
            <div class=" ml-15 row">
              <span class="ml-15 "> غیر فعال : </span>
              <input type="radio" required [(ngModel)]="obj.IsActive" [value]="false" id="Statusfalse" name="Status"
                class="radio-gray" [disabled]="createDisable()" [readonly]="createDisable()" /> <label
                for="Statusfalse"></label>
            </div>
          </div>
        </div>
        <label> <span style="    color: #fc8181;
            padding: 5px 8px 0;">*</span> وضعیت :</label>
      </div>
      <div *ngIf="obj.IsActive==null">
        <div class="color-red-light font-12">* لطفا وضعیت را مشخص کنید</div>
      </div>
    </div>
  </div>

  <hr>
  <div class="row" *ngIf="!createDisable()">
    <div class="col-sm-6 px-5">
      <button class="w-100 btn btn-green" [disabled]="form.invalid || progress"
        [ngClass]="{ progress: progress }">ذخیره</button>
    </div>
    <div class="col-sm-6 px-5">
      <a class="w-100 btn btn-red" (click)="cancel()">انصراف</a>
    </div>
  </div>
  <p *ngIf="message" class="color-red">{{message}}</p>
</form>
