<div class="row"  >
  <div class="col-md-12 p-10" dir="rtl">
    <div  class="row  card flex px-15 py-10" style="justify-content: space-between;align-items: center;"><h4 >نوع روز / تغییر </h4><a  class="btn-violet-outline"  (click)="onShowList.emit()" style="border-radius: 4px">بازگشت</a></div>
    <hr>
    <form class="card py-15" #form="ngForm">
      <div class="row ">
        <div class="col-md-6 px-15 ">
          <div class="form-group my-15">
            <input class="form-control" autofocus type="text" [(ngModel)]="obj.Name" required #Name="ngModel" name="Name"/>
            <label>نام :</label>
          </div>
          <div *ngIf="Name.errors && (Name.dirty || Name.touched || touched)" >
            <div class="color-red-light font-12" [hidden]="!Name.errors.required || !touched">* لطفا نوع روز را وارد کنید</div>
          </div>


        </div>
        <div class="col-md-6 px-15 ">
          <div class="form-group my-15">

            <select #Color="ngModel" class="form-control" [compareWith]="global.compareWithIdId" [(ngModel)]="obj.Color"  name="Color"  required [ngModelOptions]="{standalone: true}" style="max-width: 400px">

              <option [ngValue]="undefined" disabled >انتخاب کنید...</option>
              <option  *ngFor="let item of colorItems" [ngValue]="item.Id">{{item.Name}}</option>
            </select>
            <label>رنگ :</label>
          </div>
          <div *ngIf="Color.errors && (Color.dirty || Color.touched || touched)" >
            <div class="color-red-light font-12" [hidden]="!Color.errors.required || !touched">* لطفا رنگ را وارد کنید</div>
          </div>


        </div>
        <div class="col-md-6 px-15 ">
          <div class="form-group my-15">
            <input class="form-control" ss-input-mask="hh:mm" type="text" [(ngModel)]="obj.StartTime" required #StartTime="ngModel" name="StartTime"/>
            <label>زمان شروع :</label>
          </div>
          <div *ngIf="StartTime.errors && (StartTime.dirty || StartTime.touched || touched)" >
            <div class="color-red-light font-12" [hidden]="!StartTime.errors.required || !touched">* لطفا زمان شروع را وارد کنید</div>
          </div>


        </div>
        <div class="col-md-6 px-15 ">
          <div class="form-group my-15">
            <input class="form-control" ss-input-mask="hh:mm" type="text" [(ngModel)]="obj.EndTime" required #EndTime="ngModel" name="EndTime"/>
            <label>زمان پایان :</label>
          </div>
          <div *ngIf="EndTime.errors && (EndTime.dirty || EndTime.touched || touched)" >
            <div class="color-red-light font-12" [hidden]="!EndTime.errors.required || !touched">* لطفا زمان پایان را وارد کنید</div>
          </div>


        </div>



        <div class="col-md-6 px-15 ">
          <div class="form-group  my-15 ">
            <div class="row py-3 form-control">
              <div class="">
                <div class=" ml-15 row">
                  <span class="ml-15 ">فعال : </span>
                  <input type="radio" required [(ngModel)]="obj.IsActive" [value]="true"  id="StatusTrue" name="Status" class="radio-gray  "   />  <label for="StatusTrue"></label>
                </div>
              </div>
              <div class="">
                <div class=" ml-15 row">
                  <span class="ml-15 "> غیر فعال : </span>
                  <input type="radio" required [(ngModel)]="obj.IsActive" [value]="false"  id="Statusfalse" name="Status" class="radio-gray"   />  <label for="Statusfalse"></label>
                </div>
              </div>


            </div>
            <label>  <span style="    color: #fc8181;
            padding: 5px 8px 0;" >*</span> وضعیت :</label>
          </div>
          <div *ngIf="obj.IsActive==null &&  touched" >
            <div class="color-red-light font-12">* لطفا وضعیت را مشخص کنید</div>
          </div>


        </div>





      </div>

      <div class="mt-10 pr-15">
        <button class="btn-green px-50" (click)="Save(form)" [ngClass]="{progress:progressForm}">ثبت</button>
      </div>

    </form>

  </div>
</div>
