:host {
  width: 100%;
  height: 40px;
  display: block;
  padding: 25px 0 0 0;
  user-select: none;
  position: relative;

  .startTime {
    right: 0;
    bottom: -25px;
    position: absolute;
  }
}

ul {
  display: flex;
  height: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  direction: rtl;
  border: 1px solid #bcbcbc;
}
li {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  .time {
    left: 0;
    bottom: -25px;
    transform: translateX(-50%);
    position: absolute;
  }
  & {
    &:after {
      content: "";
      position: absolute;
      top: -9px;
      left: -1px;
      height: 10px;
      transform: translateX(-50%);
      border-right: 1px solid #ccc;
    }
    .scroll {
      left: -9px;
      top: -25px;
      width: 15px;
      height: 15px;
      display: flex;
      overflow: hidden;
      position: absolute;
      border-radius: 50%;
      background-color: white;
      border: 1px solid #ccc;
    }
    div {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }
  &:last-child {
    .time {
      transform: initial;
    }
  }
}
