<span class="startTime">{{startTime}}</span>
<ul #spanFree (mousemove)="onmouseMove($event)" >
  <li *ngFor="let item of getItems(); let index = index"
      [attr.data-time]="item"
      [ngStyle]="{
        width: getPercent(index) + '%',
        backgroundColor: item.color
    }">
    <div #span  (click)="addSplit($event,span,item)">{{item.text}}</div>
    <a class="scroll" (mousedown)="onmounseDown($event,item)"></a>
    <span class="time">{{item.time}}</span>
  </li>
</ul>
