







.change-lang {
  position: fixed;
  bottom: 0;
  background-color: #00BCD4;
  border-radius: 50%;
  a {
    color: #fff;
    padding: 10px;
    cursor: pointer;
  }
}

:host-context(.rtl) {
  .change-lang {
    left: 0;
    padding: 15px 15px 50px 50px;
    transform: translate(-50%,50%);
  }
}
:host-context(.ltr) {
  .change-lang {
    right: 0;
    padding: 15px 50px 50px 15px;
    transform: translate(50%,50%);
  }
}
