<oc-node *ngIf="topNode" [node]="topNode" [hasManager]="hasManager"></oc-node>
<div class="oc-reports">
	<ng-container *ngFor="let node of topNode?.childrens; first as isFirst; last as isLast">
		<div class="oc-org-container">
			<div class="oc-h-bar-container">
				<div class="oc-h-bar oc-border" [style.border-color]="isFirst?'transparent':''"></div>
				<div class="oc-border"></div>
				<div class="oc-h-bar oc-border" [style.border-color]="isLast?'transparent':''"></div>
			</div>
			<ss-org-chart [topNode]="node" [hasManager]="true"></ss-org-chart>
		</div>
	</ng-container>
</div>
