:host {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

header {
  padding: 10px;
}

nav {
  display: flex;
  align-items: center;
  border-radius: 3px;
  background-color: #f2f2f2;
  box-shadow: 0 0 1px 1px #c3c3c3;

  >ul {
    display: flex;
    flex: 1;
    margin: 0;
    padding: 0 5px;
    list-style: none;
    height: 100%;
  }

  .tool-bar {

    li {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    a {
      display: inline-block;
      padding: 5px;
      width: 25px;
      height: 25px;
      color: #3111e4;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 0 1px 1px #c3c3c3;
      transition: all 300ms ease;

      &:hover {
        color: #2700ff;
        background-color: #eaeaea;
      }

      &.disabled {
        opacity: .4;
      }

      &.selected {
        color: #fff;
        background-color: #d20f0f;
      }
    }

    i {
      line-height: 0;

      &:before {
        line-height: 0;
      }
    }
  }

  .menu-bar {
    display: flex;
    flex-direction: row-reverse;
  }

}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px;

  .map {
    flex: 1;
    overflow: auto;
    position: relative;
    border-radius: 3px;
    direction: ltr !important;
    box-shadow: 0 0 1px 1px #c3c3c3;


    &.cursor {
      cursor: default;

      &:active {
        cursor: grabbing;
      }
    }

    &.select {
      cursor: crosshair;
    }

    &.eraser>div {
      cursor: cell;
    }

    &.station {
      cursor: url("station.png"), auto;
    }

    &.move>div {
      cursor: move;
    }

    img {
      // width: 100%;
    }

    >div {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, 0.685);
      outline: 2px solid #240fd2;
    }

    .place {
      a {
        color: rgb(38, 49, 143);
        text-decoration: underline !important;
      }
    }
    .station {
      width:50px;
      height: 50px;
      background-image: url(station.png);
    }
  }
}
