<header>
  <nav>
    <ul class="tool-bar">
      <li>
        <a
          [ngClass]="{ selected: selectedTools == 0 }"
          title="(V) Cursor"
          (click)="selectedTools = 0"
          ><i class="mdi mdi-cursor-default-outline"></i
        ></a>
      </li>
      <li *ngIf="!justShow">
        <a
          [ngClass]="{ selected: selectedTools == 1 }"
          title="(B) Make Box"
          (click)="selectedTools = 1"
          ><i class="mdi mdi-selection"></i
        ></a>
      </li>
      <li *ngIf="!justShow">
        <a
          [ngClass]="{ selected: selectedTools == 2 }"
          title="(S) Station"
          (click)="selectedTools = 2"
          ><i class="mdi mdi-map-marker-outline"></i
        ></a>
      </li>
      <li *ngIf="!justShow">
        <a
          [ngClass]="{ selected: selectedTools == 3 }"
          title="(E) Eraser"
          (click)="selectedTools = 3"
          ><i class="mdi mdi-eraser"></i
        ></a>
      </li>
      <!-- <li><a [ngClass]="{selected: selectedTools == 4}" title="(R) Resize" (click)="selectedTools = 4"><i
            class="mdi mdi-move-resize-variant"></i></a></li>
      <li><a [ngClass]="{selected: selectedTools == 5}" title="(M) Move" (click)="selectedTools = 5"><i
            class="mdi mdi-cursor-move"></i></a></li> -->
      <li>
        <a title="(+) Zoom In" (click)="zoomIn()"
          ><i class="mdi mdi-magnify-plus-outline"></i
        ></a>
      </li>
      <li>
        <span>{{ zoom.toFixed(1) }} x</span>
      </li>
      <li>
        <a title="(-) Zoom Out" (click)="zoomOut()"
          ><i class="mdi mdi-magnify-minus-outline"></i
        ></a>
      </li>
    </ul>
    <ul class="menu-bar">
      <li><a class="btn btn-red mx-5" (click)="goOutside()">بازگشت</a></li>
    </ul>
  </nav>
</header>
<main>
  <div
    class="map"
    [ngClass]="{
      cursor: selectedTools == 0,
      select: selectedTools == 1,
      station: selectedTools == 2,
      eraser: selectedTools == 3,
      resize: selectedTools == 4,
      move: selectedTools == 5,
      zoomIn: selectedTools == 6,
      zoomOut: selectedTools == 6
    }"
    [ngStyle]="{
      zoom: zoom
    }"
    (click)="mapOnClick($event)"
    (mousedown)="mapOnMouseDown($event)"
    (mouseup)="mapOnMouseUp($event)"
    (wheel)="mapOnScroll($event)"
    (mousemove)="mapOnMouseMove($event)"
  >
    <img [src]="map" alt="" draggable="false" />
    <div class="select-box"></div>
    <div
      *ngFor="let item of showablePlaces"
      class="place"
      [ngStyle]="{
        left: item.Cordination.X + 'px',
        top: item.Cordination.Y + 'px',
        width: item.Cordination.Width + 'px',
        height: item.Cordination.Height + 'px'
      }"
      (click)="placeOnClick(item)"
      (mousedown)="placeOnMouseDown(item)"
      (mouseup)="placeOnMouseUp(item)"
      (mousemove)="placeOnMouseMove(item)"
    >
      <a (click)="goInside(item)" [style.fontSize]="2.5 / zoom + 'em'">{{
        item.Name
      }}</a>
    </div>
    <div
      *ngFor="let item of showableStations"
      class="station"
      [title]="item.Name"
      [ngStyle]="{
        left: item.Cordination.X + 'px',
        top: item.Cordination.Y + 'px'
      }"
      (click)="stationOnClick(item)"
    >
      <a>{{item.Name}}</a>
    </div>
  </div>
</main>
<ss-overlay-modal
  [modal]="placeModal"
  modal-title="انتخاب محل"
  (onclose)="savePlaceCancel()"
>
  <div class="container-xs">
    <ul class="tab-blue mb-10">
      <li [ngClass]="{ active: choosePlaceMethod == 1 }">
        <a (click)="choosePlaceMethod = 1">انتخاب بخش</a>
      </li>
      <li [ngClass]="{ active: choosePlaceMethod == 2 }">
        <a (click)="choosePlaceMethod = 2">ثبت بخش جدید</a>
      </li>
    </ul>
    <div>
      <div *ngIf="choosePlaceMethod == 1">
        <form
          autocomplete="off"
          (submit)="savePlace()"
          style="min-height:300px"
        >
          <ss-input-dropdown
            label="بخش :"
            [(ngModel)]="childPlace"
            value="Name"
            name="childPlace"
            [items]="selectablePlaces"
            required="true"
          ></ss-input-dropdown>
          <div class="w-100 p-10">
            <button
              class="w-100 btn btn-green"
              [disabled]="!childPlace || progress"
            >
              ذخیره
            </button>
          </div>
        </form>
      </div>
      <div *ngIf="choosePlaceMethod == 2">
        <place-create
          (oncomplete)="createComplete($event)"
          [data]="obj"
        ></place-create>
      </div>
    </div>
  </div>
</ss-overlay-modal>

<ss-overlay-modal
  [modal]="stationModal"
  modal-title="انتخاب محل"
  (onclose)="saveStationCancel()"
>
  <div class="container-xs">
    <form autocomplete="off" (submit)="saveStation()" style="min-height:300px">
      <ss-input-dropdown
        label="ایستگاه :"
        [(ngModel)]="station"
        value="Name"
        name="station"
        [items]="selectableStations"
        required="true"
      ></ss-input-dropdown>
      <div class="w-100 p-10">
        <button class="w-100 btn btn-green" [disabled]="!station || progress">
          ذخیره
        </button>
      </div>
    </form>
  </div>
</ss-overlay-modal>
