<div class="row"  >
  <div class="col-md-12 p-10" dir="rtl">

    <div  class="row  card flex px-15 py-10" style="justify-content: space-between;align-items: center;"><h4 >کاربران و نیروی انسانی / افزودن  </h4><a  *ngIf="configService.checkPermission('ROLE_DayTypeList')" class="btn-violet-outline"  (click)="onShowList.emit()" style="border-radius: 4px">نمایش لیست</a></div>
    <hr>
    <form *ngIf="configService.checkPermission('ROLE_DayTypeAdd')"  class="card py-15" #form="ngForm">


      <div class="row">
      <div class="col-md-6 px-15">
        <div class="form-group my-15">
          <input class="form-control" ss-input-pattern="^[0-9]*$" [(ngModel)]="obj.NationalCode"  required  #NationalCode="ngModel" name="NationalCode" />
          <label>کد ملی :</label>
        </div>
        <div *ngIf="NationalCode.errors && (NationalCode.dirty || NationalCode.touched || touched)" >
          <div class="color-red-light font-12" [hidden]="!NationalCode.errors.required || !touched">* لطفا کد ملی را مشخص کنید</div>
        </div>
      </div>

      <div class="col-md-6 px-15">
        <div class="form-group my-15">
          <input class="form-control" [(ngModel)]="obj.Firstname" type="text" required  #Firstname="ngModel" name="Firstname" />
          <label>نام :</label>
        </div>
        <div *ngIf="Firstname.errors && (Firstname.dirty || Firstname.touched || touched)" >
          <div class="color-red-light font-12" [hidden]="!Firstname.errors.required || !touched">* لطفا نام را مشخص کنید</div>
        </div>
      </div>

      <div class="col-md-6 px-15">
        <div class="form-group my-15">
          <input class="form-control" [(ngModel)]="obj.Lastname"  type="text" required  #Lastname="ngModel" name="Lastname" />
          <label>نام خانوادگی :</label>
        </div>
        <div *ngIf="Lastname.errors && (Lastname.dirty || Lastname.touched || touched)" >
          <div class="color-red-light font-12" [hidden]="!Lastname.errors.required || !touched">* لطفا نام خانوادگی را مشخص کنید</div>
        </div>
      </div>

      <div class="col-md-6 px-15">
        <div class="form-group my-15">
          <input class="form-control" ss-input-mask="(999) 99999999" style="direction: ltr" [(ngModel)]="obj.Telephone"  required  #Telephone="ngModel" name="Telephone" />
          <label>شماره تماس :</label>
        </div>
        <div *ngIf="Telephone.errors && (Telephone.dirty || Telephone.touched || touched)" >
          <div class="color-red-light font-12" [hidden]="!Telephone.errors.required || !touched">* لطفا شماره تماس را مشخص کنید</div>
        </div>
      </div>

      <div class="col-md-6 px-15">
          <div class="form-group my-15">
            <input class="form-control" ss-input-mask="(+\9\8) 9999999999" style="direction: ltr" [(ngModel)]="obj.Mobile"  required  #Mobile="ngModel" name="Mobile" />
            <label>شماره موبایل :</label>
          </div>
          <div *ngIf="Mobile.errors && (Mobile.dirty || Mobile.touched || touched)" >
            <div class="color-red-light font-12" [hidden]="!Mobile.errors.required || !touched">* لطفا شماره موبایل را مشخص کنید</div>
          </div>
        </div>

      <div class="col-md-6 px-15 ">
        <div class="form-group  my-15 ">
          <div class="row py-3 form-control">
            <div class="">
              <div class=" ml-15 row">
                <span class="ml-15 ">فعال : </span>
                <input type="radio" required [(ngModel)]="obj.IsActive" [value]="true"  id="StatusTrue" name="Status" class="radio-gray  "   />  <label for="StatusTrue"></label>
              </div>
            </div>
            <div class="">
              <div class=" ml-15 row">
                <span class="ml-15 "> غیر فعال : </span>
                <input type="radio" required [(ngModel)]="obj.IsActive" [value]="false"  id="Statusfalse" name="Status" class="radio-gray"   />  <label for="Statusfalse"></label>
              </div>
            </div>
          </div>
          <label>  <span style="    color: #fc8181;
          padding: 5px 8px 0;" >*</span> وضعیت :</label>
        </div>
        <div *ngIf="obj.IsActive==null &&  touched" >
          <div class="color-red-light font-12">* لطفا وضعیت را مشخص کنید</div>
        </div>
      </div>
    </div>

    <div class="row mt-20">
      <div class="mt-10 pr-15">
        <button [ngClass]="{'btn-gray-light': (!sendStatus), 'btn-green': (sendStatus)}"    class=" px-50" (click)="CreateModel()"  >جدید</button>
      </div>
      <div class="mt-10 pr-15">
        <button class="btn-green px-50" (click)="Save(form)" [ngClass]="{'btn-gray-light': (sendStatus), 'btn-green': (!sendStatus),progress:progressForm}"  >ثبت</button>
      </div>
    </div>
  </form>
</div>
</div>
