<div class="dropdown-box" [ngClass]="{multiple:multiple}">
  <div class="values" [ngClass]="ngClass">
    <ng-content select="[before]"></ng-content>
    <ul class="form-control">
      <li *ngFor="let item of values" class="item"><span>{{getText(item)}}</span><a *ngIf="multiple" (click)="remove(item)"><i
            class="mdi mdi-close"></i></a></li>
      <li *ngIf="values && values.length" class="clear"><a (click)="clear()"><i class="mdi mdi-close"></i></a></li>
    </ul>
    <label *ngIf="!label" class="arrow bg-white"><i class="mdi mdi-chevron-down"></i></label>
    <!--// TODO: changeComponent-->
    <label *ngIf="label"><span *ngIf="required" style="    color: #fc8181;
    padding: 5px 8px 0;" >*</span>{{label}}</label>
    <ng-content select="[after]"></ng-content>
  </div>
  <div class="dropbox" (click)="openIf()">
    <div>
      <input class="search form-control" [(ngModel)]="search" (keydown)="keydown($event)" (keyup)="keyup($event)"
        (focus)="open()" (blur)="closeWithDelay()" />
    </div>
    <div class="items">
      <div style="padding: 10px">
        <ng-content  select="[header]"></ng-content>
      </div>

      <ul>
        <li *ngFor="let item of getItems();let index = index" class="item" (mousedown)="focus()" (click)="addOrRemove(item)"
          [ngClass]="{active:isActive(item),focus:index == focusedIndex}">
          <ng-template *ngIf="template; else elseBlock" [ngTemplateOutlet]="template" [ngTemplateOutletContext]="{$implicit: item}"></ng-template>
          <ng-template #elseBlock>{{getText(item)}}</ng-template>
        </li>
      </ul>
    </div>
  </div>
</div>
