$duration: 100ms;

:host() {
    display: block;
    width:100%;
    font-size: 13px;
    position: relative;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .values {
        cursor: pointer;
        position: relative;
        z-index: 1;
        label.arrow {
            display: flex;
            align-items: center;
            cursor: pointer;
            i {
                display: block;
                font-size: 16px;
                transform: rotate(0deg);
                transition: transform $duration ease;
            }
        }
        ul {
            position: relative;
            box-sizing: border-box;
            padding: 2px 15px 0 10px;
            li {
                display: inline-block;
                margin: 5px;
                padding: 2px 6px;
                font-size: 12px;
            }
            .clear {
                position: absolute;
                top: 50%;
                right: 10px;
                padding:0;
                margin:0;
                transform: translateY(-50%);
                opacity: .8;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .dropbox {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        max-height: 0;
        z-index: 2;
        overflow: hidden;
        border-top: none;
        border: 0 solid #ddd;
        border-radius: 0 0 4px 4px;
        background-color: #fff;
        >.items {
            display: block;
            flex: 1;
            overflow-y: auto;
            ul {
                display: flex;
                flex-direction: column;
            }
            li {
                padding: 10px;
                border-bottom: 1px solid #efefef;
            }
            .item {
                cursor: pointer;
                &:hover,&.focus {
                    background-color: #f4f4f4;
                }
                &.active {
                    color: #fff;
                    background-color: #0cb78a !important;
                }
            }
        }
    }
    .multiple {
        .values .item {
            background-color: #0cb78a;
            color: white;
            border-radius: 4px;
        }
    }
    &.open {
        .dropbox {
            max-height: 250px;
            border-width: 0 1px 1px;
            transition: max-height $duration ease;
        }
        .values {
            label.arrow i {
                transform: rotate(180deg);
            }
        }
    }
    .input-group .dropbox {
        margin: 1px 20px 0 60px;
    }
}
:host-context([dir="rtl"]) {
    .input-group .dropbox {
        margin: 1px 60px 0 20px;
    }
    .clear {
        right: initial !important;
        left: 10px;
    }
}