@import "../../../sigmasoft-css/variables.scss";

:host() /deep/ {
    display: inline-flex;
    overflow: hidden;
    border-radius: 4px;
    [class^="btn-"], [class*=" btn-"] {
        border-radius: 0;
    }
    @each $color in $colors {
        $name: nth($color,1);
        $value: nth($color,2);
        $forecolor: nth($color,3);
        .active.btn-#{$name} { background-color: darken($value,15%); }
        .active.btn-#{$name} { background-color: darken($value,15%); }
        .active.btn-#{$name}-dark { background-color: darken($value,25%); }
        .active.btn-#{$name}-light { background-color: darken($value,5%); }
    }
}