.active:before{


  transform: rotate(90deg);
}


.pointer {
  width: 38px;
  height: 41px;
  /*position: absolute;*/
  float: left;
  position: inherit;
  /*background: red;*/
margin-top: -16px;
  /*left: 49px;*/
  transform: rotate(90deg);
}
.pointer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #e4f7ff;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.pointer:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  /*border-left: 20px solid red;*/
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.status-1{
  background: #4a65ff;
}
.status-1:before {
  border-left: 20px solid #4a65ff;
}

.status-2{
  background: #56e45c;
}
.status-2:before {
  border-left: 20px solid #56e45c;
}

.status-3{
  background: #f27c73;
}
.status-3:before {
  border-left: 20px solid #f27c73;
}

.status-4{
  background: #fec721;
}
.status-4:before {
  border-left: 20px solid #fec721;
}
