





<div class="row"  >
  <div class="col-md-12 p-10" dir="rtl">
    <div  class="row  card flex px-15 py-10" style="justify-content: space-between;align-items: center;"><h4 >بازرسی / سوالات </h4><a  class="btn-blue-outline"  *ngIf="!InspectionId" [routerLink]="['/Pages/Inspection/Place']" style="border-radius: 4px">بازگشت</a><a  class="btn-blue-outline"  *ngIf="InspectionId" [routerLink]="['/Pages/Inspection']" style="border-radius: 4px">نمایش لیست</a></div>
    <hr>

    <form  #form="ngForm">
<div class="card pb-15" *ngIf="!InspectionId">
  <div class="row ">
    <div class="col-md-6 px-15 mt-30 ">
      <tree-select   [items]="useTypeItems" [textField]="reasontextField" [idField]="'id'"  [childrenField]="'children'"
                     [(ngModel)]="useTypeGet"
                     #UseType="ngModel"
                     name="UseType"
                     [label]="'نوع کاربری :'"
                     [multiple]="false"
                     required="true"
                     (onChange)="useTypeObj=$event.value;getStationData(oDataPagination,useTypeObj.Id);getIndexData(oDataPagination,useTypeObj.Id)"
                     minlength="1" maxlength="1"
                     [allowParentSelection]="AllowParentSelection" [filterPlaceholder]="FilterPlaceholder" [maxVisibleItemCount]="MaxDisplayed"
                     [allowFilter]="ShowFilter" [disabled]="Disabled" expandMode="None"
      >
      </tree-select>

      <div *ngIf="UseType.errors && (UseType.dirty || UseType.touched || touched)" >
        <div class="color-red-light font-12" [hidden]="!UseType.errors.required || !touched ">* لطفا نوع کاربری را وارد کنید</div>
        <!--<div class="color-red-light font-12"  [hidden]="!UseType.errors.minlength">You must choose at least 2 items on Multiple select</div>-->
        <!--<div class="color-red-light font-12"  [hidden]="!UseType.errors.maxlength">You must choose maximum 1000 items on Multiple select</div>-->
      </div>
      <!--<div class=" mb-15">-->
        <!--<ss-input-dropdown  (onchange)="getStationData(oDataPagination,useTypeObj.Id);getIndexData(oDataPagination,useTypeObj.Id)" ngClass='form-group'  label="کاربری :" #useType="ngModel" [compareWith]="global.compareWithIdId"  name="useType" [(ngModel)]="useTypeObj"  value="Name" [items]="useTypeItems" required="true"></ss-input-dropdown>-->

      <!--</div>-->
      <!--<div *ngIf="useType.errors && (useType.dirty || useType.touched || touched)" >-->
        <!--<div class="color-red-light font-12" [hidden]="!useType.errors.required || !touched ">* لطفا کاربری را وارد کنید</div>-->
      <!--</div>-->



    </div>
    <div class="col-md-6 px-15 ">
      <div class=" mb-15">
        <ss-input-dropdown  ngClass='form-group'  label="ایستگاه :" #station="ngModel" [compareWith]="global.compareWithIdId"  name="station" [(ngModel)]="obj.Station"  value="Name" [items]="stationItems" required="true" (onchange)="obj.StationId=obj.Station.Id"></ss-input-dropdown>

      </div>
      <div *ngIf="station.errors && (station.dirty || station.touched || touched)" >
        <div class="color-red-light font-12" [hidden]="!station.errors.required || !touched ">* لطفا ایستگاه را وارد کنید</div>
      </div>



    </div>
  </div>

  <div class="row">

    <div class="col-md-6 px-15 ">
      <div class="form-group  ">
        <input   name="EndDate" class="form-control" ss-input-mask="yyyy-MM-dd hh:mm:ss" #time [(ngModel)]="obj.JTime">
        <label>تاریخ و زمان :</label>
      </div>
      <ss-input-datepicker jalali required [ngModelOptions]="{standalone: true}" [date]="true" [time]="true" [input]="time" [(ngModel)]="obj.JTime" format="yyyy-MM-dd hh:mm:ss"></ss-input-datepicker>
      <div *ngIf="!obj.Time &&  touched" >
        <div class="color-red-light font-12" >* لطفا تاریخ و زمان را وارد کنید</div>
      </div>
    </div>
  </div>
</div>


      <!--<div class="row">-->
        <!--<div class="mt-10 pr-15">-->
          <!--<button class="btn-green px-50"  type="button" (click)="Save(form)"  >ادامه</button>-->
        <!--</div>-->
      <!--</div>-->
    </form>



    <div class="card my-15  py-15" *ngIf="indexs.length!=0 && obj.Station">
      <section *ngFor="let item of indexs" style=" background-color: #e4f7ff; border-radius: 5px;
    border: 2px solid #2196F3;" class="m-10">
        <h3 class="p-15">
          <a (click)="section = item.Id"><i class="mdi " [ngClass]="section == item.Id  ? 'mdi-chevron-down' : 'mdi-chevron-left'"></i> {{item.Name}}<div class="pointer status-{{item.Status}}" ></div> </a>
        </h3>

        <div *ngIf="section == item.Id" class="row" style="background-color: white">
          <div class="col-md-12 px-15 ">
            <div class="  my-15 ">
              <div class="row py-3 ">
                <div *ngFor="let itemChild of item.Children" class="">
                  <div class=" ml-15 row">
                    <span class="ml-15 ">{{itemChild.Name}} : </span>
                    <input type="checkbox" required (change)="Save(form,itemChild)" [(ngModel)]="itemChild.Grade"  id="{{itemChild.Name + item.Name}}" name="{{itemChild.Name + item.Name}}" class="checkbox-turquise"   />  <label for="{{itemChild.Name + item.Name}}"></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>

  </div>
</div>
