<div class="row"  >
  <div class="col-md-12 p-10" dir="rtl">

    <div  class="row  card flex px-15 py-10" style="justify-content: space-between;align-items: center;"><h4 >نوع ظرف / افزودن  </h4><a  *ngIf="configService.checkPermission('ROLE_DayTypeList')" class="btn-violet-outline"  (click)="onShowList.emit()" style="border-radius: 4px">نمایش لیست</a></div>
    <hr>
    <form *ngIf="configService.checkPermission('ROLE_DayTypeAdd')"  class="card py-15" #form="ngForm">



      <div class="row">

        <div class="col-md-6 px-15">
          <div class="form-group my-15">
            <input class="form-control" type="text" [(ngModel)]="obj.Name" required  #name="ngModel" name="name"/>
            <label>نوع ظرف :</label>
          </div>
          <div *ngIf="name.errors && (name.dirty || name.touched || touched)" >
            <div class="color-red-light font-12" [hidden]="!name.errors.required || !touched">* لطفا نوع ظرف را مشخص کنید</div>
          </div>
        </div>

        <div class="col-md-6 px-15 ">
          <div class="form-group my-15">

            <select #Color="ngModel" class="form-control" [compareWith]="global.compareWithIdId" [(ngModel)]="obj.Color"  name="Color"  required [ngModelOptions]="{standalone: true}" style="max-width: 400px">

              <option [ngValue]="undefined" disabled >انتخاب کنید...</option>
              <option  *ngFor="let item of colorItems" [ngValue]="item.Id">{{item.Name}}</option>
            </select>
            <label>رنگ :</label>
          </div>
          <div *ngIf="Color.errors && (Color.dirty || Color.touched || touched)" >
            <div class="color-red-light font-12" [hidden]="!Color.errors.required || !touched">* لطفا رنگ را وارد کنید</div>
          </div>


        </div>



        <div class="col-md-6 px-15  " >
          <tree-select   [items]="wasteTypeItems" [textField]="reasontextField" [idField]="'id'"  [childrenField]="'children'"
                         [(ngModel)]="wasteobj"
                         #WasteType="ngModel"
                         name="WasteType"
                         [label]="'نوع پسماند :'"
                         [multiple]="false"
                         required="true"
                         (onChange)="obj.WasteType=$event.value;obj.WasteTypeId=obj.WasteType.Id"
                         minlength="1" maxlength="1"
                         [allowParentSelection]="AllowParentSelection" [filterPlaceholder]="FilterPlaceholder" [maxVisibleItemCount]="MaxDisplayed"
                         [allowFilter]="ShowFilter" [disabled]="Disabled" expandMode="None"
          >
          </tree-select>

          <div *ngIf="WasteType.errors && (WasteType.dirty || WasteType.touched || touched)" >
            <div class="color-red-light font-12" [hidden]="!WasteType.errors.required || !touched ">* لطفا نوع پسماند را وارد کنید</div>
            <!--<div class="color-red-light font-12"  [hidden]="!WasteType.errors.minlength">You must choose at least 2 items on Multiple select</div>-->
            <!--<div class="color-red-light font-12"  [hidden]="!WasteType.errors.maxlength">You must choose maximum 1000 items on Multiple select</div>-->
          </div>



        </div>

        <!--<div class="col-md-6 px-15">-->
          <!--<div class="mb-15">-->
            <!--<ss-input-dropdown ngClass='form-group' style="padding-top: 0;"   label="نوع پسماند :" #wasteType="ngModel" [compareWith]="global.compareWithIdId"  name="wasteType" [(ngModel)]="obj.WasteType"  value="Name" [items]="wasteTypeItems"   (onchange)="obj.WasteTypeId=obj.WasteType.Id" required="true">-->
            <!--</ss-input-dropdown>-->
          <!--</div>-->
          <!--<div *ngIf="wasteType.errors && (wasteType.dirty || wasteType.touched || touched)" >-->
            <!--<div class="color-red-light font-12" [hidden]="!wasteType.errors.required || !touched ">* لطفا نوع پسماند را مشخص کنید</div>-->
          <!--</div>-->
        <!--</div>-->


        <div class="col-md-6 px-15 ">
          <div class="row">
            <div class="form-group  mb-15 ">
              <div class="row">
                <div class="ml-10 mr-10"> طول عمر : </div>
                <input  class="form-control" type="number" ss-input-mask="99999999999" style="width: 100px;"  #longLife="ngModel" required [(ngModel)]="obj.LongLife"  id="LongLife" name="longLife"/>
                <div class="mr-15 ">(سال) </div>
              </div>
            </div>
            <div *ngIf="longLife.errors && (longLife.dirty || longLife.touched || touched)" >
              <div class="color-red-light font-12" [hidden]="!longLife.errors.required || !touched">* لطفا طول عمر را مشخص کنید</div>
            </div>

            <div class="form-group  mb-15 ">
              <div class="row">
                <div class="ml-10 mr-10">حجم گنجایش :</div>
                <input class="form-control" type="number" ss-input-mask="99999999999" style="width: 100px;" required [(ngModel)]="obj.Capacity"  #capacity="ngModel" id="Capacity" name="capacity"/>
                <div class="mr-15 ">(لیتر) </div>
              </div>
            </div>
            <div *ngIf="capacity.errors && (capacity.dirty || capacity.touched || touched)" >
              <div class="color-red-light font-12" [hidden]="!capacity.errors.required || !touched">* لطفا حجم گنجایش را مشخص کنید</div>
            </div>
          </div>

        </div>

        <!--<div class="col-md-6 px-15">-->
          <!--<div class="form-group my-15">-->
            <!--<div class="row form-control">-->
              <!--<div class="">-->
                <!--<div class="ml-15 row">-->
                  <!--<span class="ml-15">فعال : </span>-->
                  <!--<input class="radio-gray" type="radio" required [(ngModel)]="isActive" [value]="true" id="StatusTrue" name="Status"/> <label for="StatusTrue"></label>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="">-->
                <!--<div class="ml-15 row">-->
                  <!--<span class="ml-15">غیرفعال : </span>-->
                  <!--<input class="radio-gray" type="radio" required [(ngModel)]="isActive" [value]="false" id="Statusfalse" name="Status" /> <label for="Statusfalse"></label>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<label><span style="color: #fc8181; padding: 5px 8px 0;" >*</span> وضعیت :</label>-->
          <!--</div>-->
          <!--<div *ngIf="isActive==null &&  touched" >-->
            <!--<div class="color-red-light font-12">* لطفا وضعیت را مشخص کنید</div>-->
          <!--</div>-->
        <!--</div>-->
      </div>
        <div class="row">
        <div class="mt-10 pr-15">
          <button [ngClass]="{'btn-gray-light': (!sendStatus), 'btn-green': (sendStatus)}"    class=" px-50" (click)="CreateModel()"  >جدید</button>
        </div>
        <div class="mt-10 pr-15">
          <button class="btn-green px-50" (click)="Save(form)" [ngClass]="{'btn-gray-light': (sendStatus), 'btn-green': (!sendStatus),progress:progressForm}"  >ثبت</button>
        </div>
      </div>

    </form>

  </div>
</div>
