/*.ss-Progress-bar {*/
  /*width: 70%;*/
  /*background-color: #e3e3e3;*/
  /*border-radius: 50px;*/
/*}*/

/*.ss-bar {*/
  /*width: 1%;*/
  /*border-radius: 50px;*/
  /*height: 25px;*/
/*}*/
.ss-Progress-bar {
  width: 90%;
  background-color: #ddd;
  border-radius: 50px;
}

.ss-bar {
  text-align: left;
  /*padding: 5px;*/
  color: white;
  height: 30px;
  border-radius: 50px;
}
