<!--<div class=" p-15 row " style="    justify-content: center;">-->
  <!--<div class="px-5 font-12" >-->
   <!--{{text}}-->
  <!--</div>-->
  <!--<div class="ss-Progress-bar">-->
    <!--<div [style.width.%]="barWidth" [style.background-color]="color"  class="ss-bar"></div>-->
  <!--</div>-->
  <!--<div class="px-5 font-12">-->
    <!--{{barWidth}}%-->
  <!--</div>-->
<!--</div>-->


<p>   {{text}}</p>
<div class="ss-Progress-bar">
  <div class="ss-bar " [style.background-color]="color" [style.width.%]="barWidth"><div  style="    padding-top: 3px;" class="px-10  color-black">{{barWidth}}%</div>  </div>
</div>
