<ul class="items">
    <li *ngFor="let item of items">
        <a *ngIf="item.text != null" [routerLink]="item.link">{{item.text}}</a>
        <a *ngIf="item.text == null">{{item}}</a>
    </li>
</ul>
<a (click)="back()">بازگشت <i class="mdi mdi-chevron-left"></i></a>
