:host() {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 15px;
    color: #777;
    font-size: 13px;
    background-color: rgba(0,0,0,.05);
}
.items {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    >li {
        display: flex;
        flex-direction: row;
       &:not(:first-child)::before { content: '/'; padding: 0 5px; } 
    }
}