<ss-panel-admin-login [loginInfo]="login" (onsuccess)="onsuccess($event)">
  <div title class="pb-15 mb-5" >
    <P class="align-center color-green-dark font-20" >ورود به سامانۀ پسماند مال</P>
    <p class="align-center">User:admin  --  Pass:123456 </p>
  </div>
</ss-panel-admin-login>

