[title] {
  position: relative;
  // border-bottom: 1px solid #585858;
  *{color: #b3b3b3; font-weight: normal;}
  &::before, &::after {
    position: absolute;
    bottom: 0;

  }
  &::before {
    content: '';
    width:calc(100% + 60px);
    height:1px;
    left:-30px;
    background-color: #585858;
  }
  &::after {
    content: attr(data-symbol);
    width:50%;
    left:50%;
    color: #b3b3b3;
    text-align: center;
    background: #23282b;
    transform: translate(-50%,50%)
  }
}
[content] {
  a {
    color:#969090;
    &:hover {color: #ddd !important;}
  }
}
[else] {
  ul {
    list-style: none;
    li { border-top: 1px solid #ddd; }
    li a {
      display: flex;
      padding: 15px 10px;
      flex-direction: row;
      align-items: center;
      &:nth-child(2n+1) {background-color:#f6f6f6;}
      &:hover {
        background-color:#eee;
      }
      i {
        padding: 0 10px;
        font-size: 36px;
      }
      span {
        color:#666 !important;
      }
    }
  }
}
