:host {
  width: 220px;
  height: 0;
  display: block;
  position: relative;
  z-index: 4; }
  :host button {
    text-align: center;
    padding: 6px;
    margin: 1px;
    border: none;
    outline: none;
    font-size: 11px;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #fff; }
    :host button.active {
      background-color: #1d9781 !important;
      color: #fff; }
    :host button:disabled {
      opacity: .5; }
  :host > div {
    width: 220px;
    display: flex;
    padding: 10px;
    font-size: 12px;
    z-index: 10000000;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0 #999; }
  :host .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px; }
    :host .header > * {
      text-align: center; }
    :host .header .icon {
      flex: 1; }
    :host .header .today {
      flex: 3; }
    :host .header .month {
      flex: 5; }
    :host .header .year {
      flex: 4; }
  :host .content {
    position: relative; }
  :host .weekDays {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd; }
    :host .weekDays > * {
      flex: 1;
      text-align: center; }
  :host .days {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 10px; }
    :host .days .day {
      transition: background-color 200ms ease, color 200ms ease; }
      :host .days .day:not(:disabled) {
        cursor: pointer; }
        :host .days .day:not(:disabled):hover {
          background-color: rgba(230, 230, 230, 0.61); }
    :host .days > button {
      width: calc(14.28571428571429% - 2px); }
  :host .month-dialog, :host .year-dialog {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transform: scale(0); }
    :host .month-dialog.show, :host .year-dialog.show {
      transform: scale(1); }
  :host .month-dialog {
    bottom: 0; }
    :host .month-dialog > button {
      width: calc(33.33333% - 2px);
      height: 25%;
      cursor: pointer; }
      :host .month-dialog > button:not(:disabled):hover {
        background-color: rgba(230, 230, 230, 0.61); }

/*# sourceMappingURL=datepicker.component.css.map */
