<div class="row"  >
  <div class="col-md-12 p-10" dir="rtl">
    <div  class="row  card flex px-15 py-15" style="justify-content: space-between;align-items: center;"><h4 >شاخص   </h4></div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 p-10">
    <div class="departments card p-10">

      <div class="p-10">
        <button class="btn btn-gray w-100" (click)="treeview.deselectAllNodes();createA();create()">افزودن  به شاخه اصلی </button>
      </div>
      <div class="p-10">
        <button class="btn btn-gray w-100" (click)="create()">افزودن </button>
      </div>
      <ss-data-treeview [items]="Indexes" #treeview  (onselect)="selectedChange($event)"></ss-data-treeview>
    </div>
  </div>
  <div class="col-md-8 p-10">
    <div>
      <div class="card p-10" [ngSwitch]="mode">
        <index-details *ngSwitchCase="1" [id]="id" [data]="obj">
          <hr>
          <div class="row">
            <div class="col-sm-6 p-5">
              <button class="btn btn-blue w-100" (click)="edit()" [disabled]="!id">ویرایش</button>
            </div>
            <div class="col-sm-6 p-5">
              <button class="btn btn-red w-100" (click)="delete()" [disabled]="!id">حذف</button>
            </div>
          </div>
        </index-details>
        <index-edit *ngSwitchCase="2" (oncomplete)="editComplete($event)" [id]="id" [data]="obj"></index-edit>
        <index-create *ngSwitchCase="3" (oncomplete)="createComplete($event)" [data]="obj"></index-create>
      </div>

      <!--<div class="  p-10 ">-->
        <!--<div class="form-group card p-10">-->
          <!--<div class="d-inline-block">-->
            <!--<ngx-treeview [items]="items" [itemTemplate]="itemTemplate" (selectedChange)="onSelectedChange($event)" >-->
            <!--</ngx-treeview>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>

  </div>
</div>
<ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand" let-onCheckedChange="onCheckedChange">
  <div class="row row-item">
    <i *ngIf="item.children" (click)="onCollapseExpand()" aria-hidden="true" class="mdi" [class.mdi-chevron-left]="item.collapsed"
       [class.mdi-chevron-down]="!item.collapsed"></i>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" (click)="changeselect(item)" [(ngModel)]="item.checked" (ngModelChange)="onCheckedChange()" [disabled]="item.disabled"
             [indeterminate]="item.indeterminate" />
      <label class="form-check-label" (click)=" onCheckedChange()">
        {{item.text}}
      </label>

    </div>
  </div>
</ng-template>
