<div class="image" [style.width]="height * 2.5 + 'px'" [style.height]="height + 'px'">
  <img *ngIf="image" [src]="image" alt="loading ... " />
</div>
<div class="refresh" [ngClass]="{progress:progress}">
    <a (click)="refresh()"></a>
</div>
