:host() {
    display: inline-flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 1px 0 #ccc;
}

.image {
    width: 190px;
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    img {
        width: 100%;
        height: 100%;
    }
}
.refresh {
    font-size: 24px;
    padding: 0 10px;
    a {
        display: block;
        width: 24px;
        height: 24px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../images/refresh.png)
    }
}
.refresh.progress {
    opacity: .4;
    animation: rotation 1s linear infinite;
}
@keyframes rotation {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}