<div>
  <div class="row my-10">
    <div class="col-sm-8">
      <div class="form-group">
        <label>عنوان  : </label>
        <input class="form-control" [(ngModel)]="obj.Name" name="Name" readonly disabled >
      </div>
    </div>
    <!--<div class="col-sm-4">-->
      <!--<div class="form-group">-->
        <!--<label style="width: 50px;">وضعیت : </label>-->
        <!--<input class="form-control" [ngModel]="obj.status ? 'فعال' : 'غیر فعال'" name="status" readonly disabled>-->
      <!--</div>-->
    <!--</div>-->
  </div>
  <ng-content></ng-content>
</div>
