/* You can add global styles to this file, and also import other style files */


body {margin:0;}

pre[class*="language-"] {padding:0 25px !important;}
.widget-container {
    background-color: #282828;
}
@import "./app/components/org-chart-master/lib/styles.scss";
body{
  margin: 0;
  padding: 0;
}
main>router-outlet+* {
  display: block;
  min-height: calc(100vh - 349px);
}
/*router-outlet ~ * {*/
  /*position: absolute;*/
  /*height: 100%;*/
  /*width: 100%;*/
/*}*/

.ss-dropdown {
  /*float: left;*/
  /*overflow: hidden;*/
}

.dropbtn {
  /* font-size: 17px; */
  border: none;
  outline: none;
  color: white;
  /* padding: 14px 16px; */
  background-color: inherit;
  /* font-family: inherit; */
  margin: 0;
  transition: all .5s ease-in-out;
}

.ss-dropdown .dropbtn {
  /* font-size: 17px; */
  border: none;
  outline: none;
  color: white;
  /* padding: 14px 16px; */
  background-color: inherit;
  /* font-family: inherit; */
  margin: 0;
  transition: all .5s ease-in-out;
}


.ss-dropdown-content {
  display: none;
  visibility: hidden;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
  transition: all 4s ease-in-out;
}
.ss-dropdown-content:before {
  border-left: 0;
  border-bottom: 0;
  content: " ";
  display: block;
  height: 12px;
  pointer-events: none;
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 12px;
  background: #ffffff;
  top: -6px;
  right: 20px;
}


.ss-dropdown-content a {
  float: none;
  color: black !important;
  padding: 10px 24px;
  text-decoration: none;
  display: block;
  text-align: right;

}


.ss-dropdown:hover .dropbtn {
  color: white;
}


.ss-dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.ss-dropdown:hover .ss-dropdown-content {
  display: block;
  visibility: visible;
  transition: all 1.5s ease-in-out;
}


@media screen and (min-width: 600px) {
  .ss-dropdown:hover .ss-dropdown-content {
    display: block;
    position: fixed !important;
    left: 36px;
    visibility: visible;
  }
}
