$header_height:48px;
$aside_width:200px;
$aside_padding:25px;

$back_red: #fd4831;
$back_red_dark: #fd4831;
.active {border-right:4px solid #fd4831; }
.active span { color: #0c0018
}
$shadow:0 0 5px 0 #666;
:host-context(body) {margin:0;}


.menus-term {
  flex: 1;
  display: flex;
  flex-direction: column;


  ul {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fffef2;
    padding: 0;
  }

  .menus {
    flex: 1;
    position: relative;
    border-top: 1px solid #eee;
    padding: 0;

    li {
      display: block;

      a {
        color: #777;
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #f9f2e1;
        transition: color 300ms ease;

        i {
          font-size: 20px;
          color: $back_red_dark;
          padding: 0 2px;
        }

        span {
          flex: 1;
          font-size: 13px;
          padding: 0 5px;
        }

        &:hover {
          color: #d00000;
        }
      }

      &.open>ul {
        overflow-y: auto;
        overflow-x: hidden;
        transform: translateX(0);
      }

      &.back {}
    }

    ul {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      transform: translateX(-100%);
      transition: transform 300ms ease;
    }
  }
}

nav /deep/ {
  position:absolute;
  top:0;
  left: 0;
  right: 0;
  font-size:14px;
  z-index: 10;
  display:flex;

  flex-direction:row;
  height:$header_height;
  box-shadow: 0px 1px 2px 0px #cacaca;
  white-space: nowrap;


  i {font-size:20px;}

  >div {
    display:flex;
    flex-direction:row;
    &.title {flex: 1;}
    &.option {flex: 1;}
    >*{
      height:100%;
      display:flex;
      padding:0 15px;
      flex-direction:column;
      justify-content:center;
      border-style:solid;
      border-width:0 1px;
      transition:background-color 300ms ease;
      &:hover{background-color:rgba(0, 0, 0, .08);}
    }
  }
  .title {
    flex-direction: row;
    >* {border-width: 0 1px 0 0; }
    #module li>a {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding:5px;
      span{flex:1}
      i{
        display: flex;
        justify-content: center;
        align-items: center;
        width:30px;
        height:30px;
        margin:0 5px;
        color:#444;
        font-size: 20px;
        border-radius:50%;
        border:1px solid #ccc;
      }
    }
  }
  .option {
    flex-direction: row-reverse;
    >* {border-width: 0 0 0 1px; }
    .datetime {
      text-align: center;
      .qulon {animation: ticktok 1s linear infinite;}
      @keyframes ticktok {
        0% {opacity: 0;}
        50% {opacity: 0;}
        51% {opacity: 1;}
        100% {opacity: 1;}
      }
    }
  }
  @media print {display: none;}
}

//======== Aside
aside{
  position:absolute;
  font-size:13px;
  top:$header_height;
  width:$aside_width;
  box-shadow:$shadow;
  display: flex;
  z-index:5;
  left: 0;
  flex-direction: column;
  height:calc(100% - #{$header_height});
  transition:transform 200ms ease;

  .user-info {
    //display:flex;
    //flex-direction:column;
    //align-items: center;
    //justify-content: center;
    //padding: 10px;
    //background-color:rgba(0, 0, 0, .05);

    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border: 2px solid #eee;
    background-color: #fcfcfe;
    .image {
      width: 70px;
      height: 75px;
      padding: 10px;
      border-radius: 50%;
      overflow: hidden;

      >img {
        width: 100%;
        height: 100%;
      }
    }
    .name {
      padding: 5px 0;
    }

    .register {
      padding: 5px 0;
    }
    //.image {
    //  width: 80px;
    //  height: 80px;
    //  border-radius:50%;
    //  margin: 10px auto;
    //  background-image: url(../images/user.png);
    //  background-repeat: no-repeat;
    //  background-position: center;
    //  background-size: 100% 100%;
    //  img {
    //    width: 100%;
    //    height: 100%;
    //  }
    //}
    >*{display:block;}
    span{font-size:14px; color: #545454;padding: 5px;}
    small{font-size:10px;color:#545454;padding: 5px;}

    .bar {
      width: 100%;
      border-top: 2px solid #eee;


      >ul {
        width: 100%;
        display: flex;
        list-style: none;
        padding: 0;

        >li {
          flex: 1;
          border-right: 2px solid #eee;

          >a {
            padding: 10px;
            color: #545454;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
              background-color: rgba(0, 0, 0, 0.034);
            }
          }
        }
      }
    }

  }
  .menu {
    flex:1;
    position: relative;
    overflow-y:auto;
    background-color: inherit;
    ul,li,a{display:block}
    ul{
      margin:0;padding:0;overflow:hidden;
      ul {
        height:0;
        opacity:0;
        transform:translateX(-100%);
        transition:transform 200ms ease,opacity 500ms ease;
      }
    }
    li{
      transition:background-color 300ms ease;
      &.open{
        background-color:rgba(0, 0, 0, .08);
        >ul{height:auto;opacity:1;transform:translateX(0) !important}
        >a.menu-toggle::after {transform: rotate(45deg);}
      }
    }
    a{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding:12px 0;
      color: #dfdfdf;
      border-bottom: 1px solid #323232;
      transition:background-color 300ms ease, color 300ms ease;
      &:hover{background-color:rgba(0, 0, 0, .08);color:#fff;}
      i{padding:0 10px;font-size:24px;display: inline-block;height: 24px;}
      &.menu-toggle {
        position: relative;
        &::after {
          content:'';
          position: absolute;
          top:50%;
          right:20px;
          width: 5px;
          height: 5px;
          display: block;
          margin-top: -2px;
          transform: rotate(-45deg);
          border-width: 0 1px 1px 0;
          border-style: solid;
          transition:transform 200ms ease;
        }
      }
    }

    ul ul a {padding-left:$aside_padding*2}
    ul ul ul a {padding-left:$aside_padding*3}

    .modules {
      position: absolute;
      top: 0;
      left: 0;
      width:100%;
      height:100%;
      z-index: 100000;
      overflow-y: auto;
      background-color: inherit;
      transform: translateX(-100%);
      transition: transform 300ms ease;
      &.show {
        transform: translateX(0);
      }
    }
  }
  .footer {
    display:flex;
    flex-direction:row;
    justify-content:center;

    .exit-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: rgba(255, 255, 255, 0.884);
      padding: 7px 10px;
      background-color: $back_red_dark;

      .exit {
        flex: 1;
        font-size: 14px;

        a {
          display: flex;
          width: 100%;
          align-items: center;
        }

        i {
          width: 25px;
          height: 25px;
          font-size: 18px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          border: 1px solid rgba(255, 255, 255, 0.527);
        }

        span {
          padding: 0 10px;
        }
      }

      .time {
        font-size: 12px;
        border-radius: 30px;
        padding: 5px 10px;
        background-color: rgba(0, 0, 0, 0.103);
        box-shadow: inset 0px 0px 2px 0px rgba(255, 0, 0, 0.29);

        .colun {
          padding: 0 3px;
          font-size: 18px;
          line-height: 0;
          animation: tick 2s ease infinite;
        }
        @keyframes tick {
          0% {opacity: 0;}
          49% {opacity: 0;}
          50% {opacity: 1;}
          100% {opacity: 1;}
        }
      }
    }
    >*{
      flex:1;
      text-align:center;
      padding:15px 0;
      line-height:10px;
      font-size:18px;
      display: flex;
      flex-direction:column;
      justify-content:center;
      &:hover{background-color: rgba(0, 0, 0, .08);}
    }
  }
  @media print {display: none;}
}
//======== Main
main{
  position:absolute;
  right:0;
  display:flex;
  flex-direction:column;
  top:$header_height;
  width:calc(100% - #{$aside_width});
  height:calc(100% - #{$header_height});
  transition:width 300ms ease;
  background-color: #f9f9f9;
  /deep/router-outlet+*{
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f7f7f7;
  }
  @media print {
    position: relative;
    top:initial;
    width:100%;
    height:100%;
  }
}

//======== Actions
aside.toggle{transform:translateX(-100%)}
main.toggle{width:100%;}
//======== Responsive
@media (max-width:1024px){
  aside{transform:translateX(-100%)}
  main{width:100% !important;}
  aside.toggle{transform:translateX(0)!important}
}
//====================================================== RTL
:host-context([dir="rtl"]) {
  //======== Nav
  nav {
    .title{
      >* {border-width: 0 0 0 1px; }
    }
    .option {
      >* {border-width: 0 1px 0 0; }
    }
  }
  //======== Aside
  aside {
    left: initial;
    right: 0;
    .menu {
      ul ul{transform:translateX(100%)}
      a.menu-toggle:after {right:initial;left:20px;transform: rotate(135deg);}
      ul a {padding-left:0}
      ul ul a {padding-right:$aside_padding*2}
      ul ul ul a {padding-right:$aside_padding*3}
    }
    .modules {
      transform: translateX(100%);
    }
  }
  //======== Main
  main{right:initial;left:0}
  //======== Actions
  aside.toggle{transform:translateX(100%)}
  //======== Responsive
  @media (max-width:1024px){
    aside{transform:translateX(100%)}
  }
}
//====================================================== Actions

$themes: (
    ("dark-red",(#fd4831,#fff),(#fd4831,#fff)),
    ("dark-yellow",(#e1a91d,#fff),(#252525,#fff)),
    ("dark-green",(#309582,#fff),(#303841,#fff)),
);

@each $theme in $themes {
  $name: nth($theme,1);

  $color1: nth($theme,2);
  $color2: nth($theme,3);

  $bgcolor1: nth($color1,1);
  $forecolor1: nth($color1,2);

  $bgcolor2: nth($color2,1);
  $forecolor2: nth($color2,2);

  :host-context(.#{$name}) {
    nav /deep/ {
      background-color:$bgcolor1;
      color:$forecolor1;
      >div>*{border-color:darken($bgcolor1,5%);}
    }
    aside {
      background-color:$bgcolor2;
      color:$forecolor2;
      .user-info {
        border-bottom:1px solid lighten($bgcolor2,5%);
      }
      .footer {
        border-top:1px solid lighten($bgcolor2,5%);
      }
    }
  }
}
.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(239, 239, 239, 0.8);
  >span {
    padding: 50px;
    border-width: 3px;
    animation-duration: 500ms;
  }
}
