<nav>
  <div class="title">
    <ng-content select="[nav-title=before]"></ng-content>
    <a data-target="admin" (click)="toggle = !toggle"><i class="mdi mdi-menu"></i></a>
    <div *ngIf="panel.module?.name">
      <a>
        <i [ngClass]="panel.module?.icon"></i>&nbsp;&nbsp;
        <span>{{panel.module?.name}}</span>
      </a>
    </div>
    <div *ngIf="panel.modules?.length > 1">
      <a (click)="chooseModule()">Change System</a>
    </div>
    <ng-content select="[nav-title=after]"></ng-content>
  </div>
  <div class="option">
    <ng-content select="[nav-option=before]"></ng-content>
    <!--<ul class="end">-->
      <!--<li class="notification"><a><i class="mdi mdi-bell-outline"></i></a></li>-->
      <!--<li class="task"><a><i class="mdi mdi-email-outline"></i></a></li>-->
      <!--<li class="message"><a><i class="mdi mdi-message-outline"></i></a></li>-->
      <!--<li class="theme"><a><i class="mdi mdi-monitor"></i></a></li>-->
    <!--</ul>-->
    <ng-content select="[nav-option=after]"></ng-content>
  </div>
</nav>
<aside [ngClass]="{toggle:toggle}">
  <ng-content select="[aside=before]"></ng-content>
  <div *ngIf="panel.user" class="user-info">
    <div class="image"><img *ngIf="panel.user.image" [src]="panel.user.image" /></div>
    <span *ngIf="panel.user.name" class="name" >{{panel.user.name}}</span>
    <small *ngIf="panel.user.description" id="user-description">{{panel.user.description}}</small>
    <div class="bar">
      <ul>
        <li class="settings">
          <a href=""><i class="mdi mdi-settings"></i></a>
        </li>
        <li class="profile">
          <a href=""><i class="mdi mdi-account"></i></a>
        </li>
        <li class="lock">
          <a href=""><i class="mdi mdi-lock"></i></a>
        </li>
        <li class="logout">
          <a href=""><i class="mdi mdi-power"></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="menus-term">
    <ul class="menus" >
      <li *ngFor="let menu of sortMenu(panel.menus)" [ngClass]="{open: menu.isopen}">
        <a  *ngIf="menu.children.length == 0"  [routerLinkActive]="['active']" (click)="toggleMenu(menu)" [routerLink]="menu.link" [ngClass]="menu.children.length > 0 ? 'menu-toggle' : ''" >
          <i [ngClass]="menu.icon"></i> <span>{{menu.name}}</span> <i *ngIf="menu.children.length > 0" class="mdi mdi-chevron-left"></i>
        </a>
        <a *ngIf="menu.children.length > 0" (click)="toggleMenu(menu)" [routerLink]="menu.link" [ngClass]="menu.children.length > 0 ? 'menu-toggle' : ''" >
          <i [ngClass]="menu.icon"></i> <span>{{menu.name}}</span> <i *ngIf="menu.children.length > 0" class="mdi mdi-chevron-left"></i>
        </a>
        <ul *ngIf="menu.children.length > 0">
          <li class="back"><a (click)="toggleMenu(menu)"><i class="mdi mdi-arrow-right"></i><span>بازگشت</span></a></li>
          <li *ngFor="let child of sortMenu(menu.children)">
            <a [routerLinkActive]="['active']" [routerLink]= " child.link==''  ? null : child.link"><i *ngIf="child.icon" [ngClass]="child.icon"></i><span>{{child.name}}</span></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <!--<div class="menu" id="menu">-->
    <!--<ul>-->
      <!--<li *ngFor="let menu of sortMenu(panel.menus)" [ngClass]="{open:menu.isopen}">-->
        <!--<a [routerLinkActive]="['active']" [routerLink]= " menu.link==''  ? null : menu.link" [ngClass]="menu.children.length > 0 ? 'menu-toggle' : ''" (click)="toggleMenu(menu)">-->
          <!--<i [ngClass]="menu.icon"></i><span>{{menu.name}}</span>-->
        <!--</a>-->
        <!--<ul *ngIf="menu.children.length > 0">-->
          <!--<li class="back"><a (click)="toggleMenu(menu)"><i class="mdi mdi-arrow-right"></i><span>بازگشت</span></a></li>-->
          <!--<li *ngFor="let child of sortMenu(menu.children)">-->
            <!--<a [routerLinkActive]="['active']" [routerLink]= " child.link==''  ? null : child.link"><i *ngIf="child.icon" [ngClass]="child.icon"></i><span>{{child.name}}</span></a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</li>-->
    <!--</ul>-->
    <!--<ul class="modules" [ngClass]="{show:modulesShow}">-->
      <!--<li *ngFor="let item of panel.modules">-->
        <!--<a  [href]="item.link"><i [ngClass]="item?.icon"></i><span>{{item.name}}</span></a>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->

  <div class="footer">
    <ng-content select="[aside=footer]"></ng-content>
    <div class="exit-box">

      <span class="exit" (click)="logout()" ><a  href="#" title="خروج" ><i class="mdi mdi-power"></i> <span>خروج</span></a></span>
      <span class="time">{{panel.datetime.getHour() < 10 ? '0' + panel.datetime.getHour() :
          panel.datetime.getHour()}}<span class="colun px-5">:</span>{{panel.datetime.getMinute() < 10 ? '0' + panel.datetime.getMinute() :
          panel.datetime.getMinute()}}</span>
    </div>

  </div>
  <ng-content select="[aside=after]"></ng-content>
</aside>

<main [ngClass]="{toggle:toggle}">
  <ng-content select="[main=before]"></ng-content>
  <router-outlet></router-outlet>
  <ng-content select="[main=after]"></ng-content>
<!--  <div class="progress" *ngIf="progress"><span class="progress-round-turquise"></span></div>-->
</main>
<ng-content select="[footer]"></ng-content>
