<div>
  <input type="file" (change)="onFileChange($event)" multiple #fileInput/>
  <nav class="row py-5">
    <button class="btn-green mx-5" (click)="fileInput.click()"><span>افزودن پیوست</span>&nbsp;<i class="mdi mdi-plus"></i></button>
    <button class="btn-blue mx-5" (click)="uploadAll()" [disabled]="uploadDisabled()"><span>آپلود</span>&nbsp;<i class="mdi mdi-upload"></i></button>
    <button class="btn-yellow mx-5" (click)="cancelAll()" [disabled]="cancelDisabled()"><span>توقف همه</span>&nbsp;<i class="mdi mdi-cancel"></i></button>
    <button class="btn-red mx-5" (click)="removeAll()" [disabled]="removeDisabled()"><span>حذف همه</span>&nbsp;<i class="mdi mdi-recycle"></i></button>
    <button class="btn-orange mx-5" (click)="removeComplete()" [disabled]="removeCompleteDisabled()"><span>حذف پیان یافته ها</span>&nbsp;<i class="mdi mdi-recycle"></i></button>
  </nav>
  <table class="table striped bordered hover">
    <thead>
      <tr>
        <th width="30px">#</th>
        <th>نام</th>
        <th width="100px">نوع</th>
        <th width="80px">اندازه</th>
        <th width="200px">زمان</th>
        <th width="80px">وضعیت</th>
        <th width="50px">پیشرفت</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of files;let index = index">
          <td>{{index + 1}}</td>
          <td>{{item.name}}</td>
          <td>{{item.type}}</td>
          <td>{{getFormattedSize(item.size)}}</td>
          <td>
            <div class="row">
              <i class="mdi mdi-clock pr-5"></i>
              &nbsp;
              <span>{{item.time}}</span>
            </div>
          </td>
          <td>{{getStateText(item)}}</td>
          <td>
            {{item.progress.toFixed(2)}} %
          </td>
      </tr>
    </tbody>
  </table>
</div>