.background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#login {
  .logo {
    max-width: 230px;
    max-height: 230px;
    margin: auto;
    display: block;
    box-sizing: border-box;
    padding: 20px 20px 40px;
  }
  .description {
    color: #fff;
    font-weight: normal;
    font-size: 11px;
    text-align: center;
    margin: 0 30px;
    position: relative;
    overflow: hidden;
    background-color: #13b689;
    &::before,&::after {
      content: '';
      top:-15px;
      width:20px;
      height: 150%;
      position: absolute;
      background-color: #fff;
    }
    &::before {
      left:-5px;
      transform: rotate(30deg);
    }
    &::after {
      right:-5px;
      transform: rotate(-30deg);
    }
  }
  form {
    background-color: #23282b;
    input {
      background-color: #fff;
    }
    [class*="btn"]:disabled {opacity: .7;}
  }
}
