<img class="background" [ngStyle]="loginInfo?.backgroundStyle" [src]="loginInfo?.background"/>
<div class="container mt-100 mb-20" style="max-width:400px;">
  <div class="card" [ngClass]="animation">
    <ng-container *ngIf="loginBlock; else elseBlock">
      <div id="loginInfo">
        <div *ngIf="loginInfo?.logo || loginInfo?.description" class="px-40 pt-30">
          <img *ngIf="loginInfo?.logo" class="logo" style="width: 100%" [ngStyle]="loginInfo?.logoStyle" [src]="loginInfo?.logo"/>
          <!--<h5 *ngIf="loginInfo?.description" class="description py-5 text-center">{{loginInfo?.description}}</h5>-->
        </div>
        <form class="p-30" #form="ngForm">
          <ng-content select="[title]"></ng-content>
          <div class="py-10" *ngIf="!islock">
            <div class="form-group">
              <input id="username" class="form-control" placeholder="نام کاربری" [(ngModel)]="loginInfo.user.username" name="username" #username="ngModel" required autocomplete="off" focus/>
              <label>نام کاربری : </label>
            </div>
          </div>
          <div class="py-10">
            <div class="form-group">
              <input class="form-control" passwordToggle type="password" placeholder="********" [(ngModel)]="loginInfo.user.password" name="password" #password="ngModel" required autocomplete="off" focus/>
              <label>گذرواژه : </label>
            </div>
          </div>
          <div class="py-10">
            <button class="btn-green w-100" [ngClass]="{progress:loginInfo?.progress}" [disabled]="form.invalid || loginInfo?.progress" (click)="submit()">ورود</button>
          </div>
          <div *ngIf="islock" class="py-5 align-center"><a class="color-gray-light font-10" (click)="anotherAccount()">با حساب دیگری وارد میشوم</a></div>
          <div *ngIf="loginInfo?.message?.length > 0" class="mt-5 align-center color-red-light">{{loginInfo?.message}}</div>
          <ng-content select="[content]"></ng-content>
        </form>
      </div>
    </ng-container>
    <ng-template #elseBlock>
      <ng-content select="[else]"></ng-content>
    </ng-template>
  </div>
</div>
